<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="jfproduct/product:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>name：</th><td><{$detail.name}></td></tr>
<tr><th>danwei：</th><td><{$detail.danwei}></td></tr>
<tr><th>market_price：</th><td><{$detail.market_price}></td></tr>
<tr><th>price：</th><td><{$detail.price}></td></tr>
<tr><th>jfprice：</th><td><{$detail.jfprice}></td></tr>
<tr><th>freight：</th><td><{$detail.freight}></td></tr>
<tr><th>photo：</th><td><{$detail.photo}></td></tr>
<tr><th>info：</th><td><{$detail.info}></td></tr>
<tr><th>onsale：</th><td><{$detail.onsale}></td></tr>
</table></div>

<{include file="admin:common/footer.html"}>