<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="gz/yuyue:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?gz/yuyue-create.html" mini-form="yuyue-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr>
    <th>用户：</th>
    <td>
        <input type="hidden" name="data[uid]" value="<{$detail.uid}>" id="select_member_uid_id" />
        <input type="text" value="<{$member.uname}>" id="select_member_uid_name" class="input w-200" readonly/>
        <{link ctl="member/member:dialog" arg0="member" select="mini:#select_member_uid_id,#select_member_uid_name/N/选择用户" title="选择用户" class="button"}>
    </td>
</tr>
<tr>
    <th>工长：</th>
	<td>
		<input type="hidden" name="data[gz_id]" value="0" id="case_gz_id"/>
		<input type="text"  value="" id="case_gz_name" class="input w-200" readonly="readonly"/>
        <{link ctl="gz/gz:dialog"  select="mini:#case_gz_id,#case_gz_name/N/选择小区" class="button"}>
	</td>    
</tr>
<tr><th><span class="red">*</span>联系人：</th><td><input type="text" name="data[contact]" value="<{$detail.contact|default:''}>" class="input w-200"/></td></tr>
<tr><th><span class="red">*</span>手机号：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-200"/></td></tr>
<tr><th>备注要求：</th><td><textarea name="data[content]" class="textarea"><{$detail.content}></textarea></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>