<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="member/member:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?member/member-gold.html" mini-form="gold-form" method="post">
<input type="hidden" name="uid" value="<{$detail.uid}>" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>用户：</th><td><{$detail.uname}></td></tr>
<tr><th>余额：</th><td><b class="red"><{$detail.gold}></b></td></tr>
<tr><th>金币：</th><td><input type="text" name="data[gold]" value="" class="input w-100"/>&nbsp;<b class="red"> 输入负值表示减少金币</b></td></tr>
<tr><th>备注：</th><td><textarea name="data[log]" class="textarea" style="width:300px;height:80px;"></textarea></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="充值金币" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>