<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="designer/yuyue:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?designer/yuyue-edit.html" mini-form="yuyue-form" method="post" >
<input type="hidden" name="yuyue_id" value="<{$detail.yuyue_id}>"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr>
    <th>ID：</th><td class="w-300"><{$detail.yuyue_id}></td>
    <th>设计师：</th><td><a ucard="@<{$detail.designer_id}>"><{$designer.realname|default:'--'}>(<{$detail.designer_id}>)</a></td>
</tr>
<tr>
    <th>业主：</th><td class="w-300"><{if $member}><a ucard="@<{$detail.uid}>"><{$member.uname}>(<{$detail.uid}>)</a><{else}>游客<{/if}></td>
    <th>装修公司：</th><td><{if $company}><a href="<{$company.company_url}>" target="_blank"><{$company.name|default:'--'}>(<{$detail.company_id}>)</a><{/if}></td>
</tr>
<tr><th>预约时间：</th><td><{$detail.dateline|format}></td><th>来源IP：</th><td><{$detail.clientip}>(<{$detail.clientip|iplocal}>)</td></tr>
<tr><th>联系人：</th><td><{$detail.contact|default:'--'}></td><th>手机号：</th><td><{$detail.mobile|default:'--'}></td></tr>
<tr><th>客户要求：</th><td colspan="10"><{$detail.content|nl2br}></td></tr>
<tr><th>跟进状态：</th><td><select name="data[status]" class="select w-100"><{widget id="data/yuyue" value=$detail.status}></select></td></tr>
<tr><th>商家备注：</th><td><textarea name="data[remark]" class="textarea w-400"><{$detail.remark}></textarea></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>