<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="fenzhan/admin:create" width="mini:500" load="mini:创建管理员" class="button"}></td>
		<td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
	<form action="?module/menu-update.html" mini-form="menu-order" method="post"/>
	<input type="hidden" name="batch" value="orderby" />
	<table align="center" width="100%" cellpadding="0" cellspacing="0" class="table-data list">
		<tr>
			<th class="w-100">ID</th>
			<th>用户名</th>
			<th class="w-100">类型</th>
            <th class="w-100">城市</th>
            <th class="w-100">联系人</th>
            <th class="w-100">电话</th>
            <th class="w-100">邮箱</th>
            <th class="w-100">状态</th>
			<th class="w-150">最后登录IP</th>
			<th class="w-150">最后登录时间</th>
			<th class="w-150">操作</th>
		</tr>
		<{foreach $items as $k=>$v}>
		<tr id="line-admin-<{$v.fz_uid}>">
			<td><label><{$v.fz_uid}></label></td>
			<td><{$v.fz_name}></td>
			<td><{$v.role}></td>
            <td><{$city_list[$v.city_id].city_name}></td>
            <td><{$v.contact}></td>
            <td><{$v.phone}></td>
            <td><{$v.mail}></td>
			<td><{if $v.closed==3}>已删除<{elseif $v.closed}>禁用<{else}>正常<{/if}></td>		
			<td><{$v.lastip}></td>
			<td><{$v.lastlogin|format}></td>
			<td class="left">
				
				<{link ctl="fenzhan/admin:edit" args="<{$v.fz_uid}>" width="mini:500" load="mini:编辑管理员" class="button" title="编辑"}>
				
				<{link ctl="fenzhan/admin:delete" args="<{$v.fz_uid}>" class="button" title="删除"}>
			</td>
		</tr>
		<{/foreach}>
	</table>
	<div class="page-bar">
		<table>
			<tr>
				<td></td>			
				<td class="page-list"><{$pager.pagebar}></td>
			</tr>
		</table>
	</div>
	</form>
</div>
<{include file="admin:common/footer.html"}>