<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="ask/cate:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?ask/cate-create.html" mini-form="cate-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr><th><span class="red">*</span>标题：</th><td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/></td></tr>
    <tr><th>父级分类：</th>
        <td><input type="hidden" name="data[parent_id]" value="0" id="J_cate_id"/>
            <select class="J_cate_select mgr10" style="min-width:100px;" data-pids="" data-pid="0" data-uri="?ask/cate-children-#pid#.html">顶级分类</select>
        </td>
    </tr>
    <tr><th>SEO关键字：</th><td><input type="text" name="data[seo_title]" value="<{$detail.seo_title|default:''}>" class="input w-400"/></td></tr>
    <tr><th>SEO关键字：</th><td><input type="text" name="data[seo_keywords]" value="<{$detail.seo_keywords|default:''}>" class="input w-400"/></td></tr>
    <tr><th>SEO描述：</th><td><textarea name="data[seo_description]" class="textarea w-400"><{$detail.seo_description}></textarea><br /></td></tr>
    <tr>
        <th>审核：</th>
        <td>
            <label><input type="radio" name="data[audit]" checked="checked" value="1"/>发布</label>&nbsp;&nbsp;
            <label><input type="radio" name="data[audit]" value="0"/>待审</label>
        </td>
    </tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<script type="text/javascript">
(function(K, $){
$('.J_cate_select').cate_select();
})(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>