<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th>商铺账单</th>
            <td align="right"><{link ctl="shop/money:index" class="button" title="返回商家余额"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
    <form action="?shop/money-shop-<{$shop.shop_id}>.html" id="SO-form" method="post">
    <input type="hidden" name="shop_id" value="<{$shop.shop_id}>" />
    <table width="100%" border="0" cellspacing="0" class="table-data form">
        <tr>
            <th>商铺：</th><td class="w-300"><b class="blue"><{$shop.name}></b></td>
            <th>帐户余额：</th><td><b class="green">￥<{$shop.money}></b></td>
            <td>
                <{link ctl="shop/money:tixian" arg0=$shop.shop_id load="mini:提现【"|cat:$shop.name|cat:"】" width="mini:500" class="button" title="提取现金"}> &nbsp;&nbsp;&nbsp;
                <{link ctl="shop/money:chongzhi" arg0=$shop.shop_id load="mini:充值【"|cat:$shop.name|cat:"】" width="mini:500" class="button" title="充值现金"}>            
            </td>
        </tr>
        <tr><th>时间范围：</th>
            <td rowspan="2"><input type="text" name="SO[dateline][0]" value="" class="input w-100" date="dateline" readonly/>~<input type="text" name="SO[dateline][1]" value="" class="input w-100" date="dateline" readonly/></td>
            <td colspan="2"><input type="submit" class="bt-big" value="筛选账单" /></td></tr>
    </table>
    </form>
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th>类型</th><th  class="w-150">金额</th><th>日志</th><th class="w-100">IP来源</th><th class="w-100">时间</th></tr>
    <{foreach $items as $item}>
    <tr>
        <td><label><input type="checkbox" value="<{$item.id}>" name="id[]" CK="PRI"/><{$item.id}><label></td>
        
<td><{if $item.money < 0}><b class="red">提现</b><{else}><b class="green">收入</b><{/if}></td>
<td>￥<{$item.money}></td>
<td><{$item.log}></td>
        <td><{$item.clientip}>（<{$item.clientip|iplocal}>）</td>
<td><{$item.dateline|format}></td>

     </tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
</div>
<{include file="admin:common/footer.html"}>