<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="shop/news:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?shop/news-edit.html" mini-form="news-form" method="post" >
<input type="hidden" name="news_id" value="<{$detail.news_id}>"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>标题：</th><td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/></td></tr>
<tr>
    <th><span class="red">*</span>商铺：</th>
    <td>
        <input type="hidden" name="data[shop_id]" value="<{$detail.shop_id}>" id="select_shop_shop_id_id" />
        <input type="text" value="<{$shop.title}>" id="select_shop_shop_id_title" class="input w-300" readonly/>
        <{link ctl="shop/shop:dialog"  select="mini:#select_shop_shop_id_id,#select_shop_shop_id_title/N/选择商铺" title="选择商铺" class="button"}>
    </td>
</tr>
<tr>
    <th class="w-100">城市：</th>
    <td>
       <b class="blue"><{$shop.city_name}></b>
    </td>
</tr>
<tr><th class="w-100">类型：</th>
    <td>
        <select name="data[from]" class="w-150">
            <option value="active"<{if $detail.from=='active'}> selected="selected"<{/if}>>店铺活动</option>
            <option value="news" <{if $detail.from=='news'}> selected="selected"<{/if}>>店铺资讯</option>
        </select>
    </td>
</tr>
<tr><th>内容：</th><td><textarea name="data[content]" kindeditor="full" style="width:800px;height:350px;"><{$detail.content}></textarea><br /></td></tr>
<tr>
	<th><span class="red">*</span>审核：</th>
	<td>
		<label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}> value="1"/>发布</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}> value="0"/>待审</label>
	</td>
</tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<script type="text/javascript" src="<{$pager.res}>/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
(function(K, $){
var editor = KindEditor.create('textarea[kindeditor]', {uploadJson : '?magic/upload-editor.html', extraFileUploadParams:{OATOKEN:"<{$OATOKEN}>"}});
})(window.KT, window.jQuery);
</script> 
<{include file="admin:common/footer.html"}>