.company_top{ border-top:2px solid #329548; background:#fff;}
.company_top_lt h1 a{ color:#333;}
.company_top_lt h2 span{ color:#333;}
.company_top_rt{ background:#eee; color:#333;}
.nw_com_tel,.nw_com_phone{ display:inline-block; vertical-align:middle;}
.nw_com_tel{ width:16px; height:16px; background:url(phone.jpg) no-repeat;}
.nw_com_phone{ width:12px; height:16px; background:url(tel.jpg) no-repeat;}
.com_banner{ width:1000px; height:400px; overflow:hidden;}

.shopList{ background:#f3eae1;}
.shopList ul li{ float:left; margin:5px 0px 5px 8px;; background:#fff; text-align:center; width:76px; font-size:14px;}
.shopList ul li b{ font-size:16px; font-weight:bold;}
.sub_com_tpbt .btn{ background:#e7691e; border-radius:0px;}
.nw_com_intro{ height:250px;}
.com_box{ background:#fff; padding:0px; border-top:none;}
.com_title b small{ margin-left:10px; font-weight:normal; font-size:12px; color:#999;}
.nw_sub_com_design{ margin-top:10px; height:150px;}
.nw_sub_com_design li img{ border-radius:100px;}
.nw_sub_com_design li{ margin:0px 8px;}
.site_com_box{background:#f8f8f8; padding:10px;}
.nw_show_box{ width:340px; margin-left:30px; float:left;}
.nw_show_box_first{margin-left:0px;}
.nw_show_box_first li{ height:32px; line-height:32px; border-bottom:1px dashed #ddd;}
.nw_show_box h3 span,.nw_show_video h3 span{ display:inline-block; padding:0px 10px;}
.nw_show_video{ width:260px;}
.nw_show_box h3.org span{ border-top:1px solid #e7691e; color:#e7691e;}
.nw_show_box h3.gre span{ border-top:1px solid #4c9b86; color:#4c9b86;}
.nw_show_video h3.blu span{ border-top:1px solid #4e80c3; color:#4e80c3;}
.nw_com_pinglun div.lt img{ width:40px; height:40px; border-radius:30px; margin-top:5px;}
.nw_com_pinglun ul li div.rt{ width:290px;}
.nw_com_pinglun ul li div.rt p{ height:30px; line-height:30px; overflow:hidden;}
.nw_com_case .bf{ width:200px; float:left;}
.nw_com_case li.before{ width:200px; height:150px;margin-bottom:10px;}
.nw_com_case li.before img{ width:200px; height:150px; }
.nw_com_case li.after{ float:right; width:780px; height:468px;}
.nw_com_case li.after img{ width:780px; height:468px;}