<{include file="admin:common/header.html"}>
<script type="text/javascript" src="<{$pager.res}>/script/widget.YMD.js"></script>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="designer/designer:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?designer/designer-create.html" mini-form="designer-form" method="post" ENCTYPE="multipart/form-data">
<input type="hidden" name="account[from]" value="designer"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr>
        <th><span class="red">*</span>登录名：</th>
        <td><input type="text" name="account[uname]" value="<{$detail.uname}>" class="input w-300"/><span class="tip-comment">登录网站的帐号</span></td>
    </tr>
    <tr>
        <th><span class="red">*</span>密码：</th>
        <td><input type="text" name="account[passwd]" value="<{$detail.passwd}>" class="input w-300"/><span class="tip-comment">登录网站的密码</span></td>
    </tr>
    <tr><th><span class="red">*</span>邮箱：</th><td><input type="text" name="account[mail]" value="<{$detail.mail}>" class="input w-300"/></td></tr>
    <tr><th>名称：</th><td><input type="text" name="data[name]" value="<{$detail.name}>" class="input w-300"/></td></tr>
    <tr><th>等级：</th><td><select name="data[group_id]" class="w-150"><{widget id="member/group" from='designer' value=$detail.group_id}></select></td></tr>
    <tr><th>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile}>" class="input w-300"/></td></tr>
    <tr>
        <th>所属公司：</th>
        <td>
            <input type="hidden" name="data[company_id]" value="0" id="case_company_id"/>
            <input type="text"  value="" id="case_company_name" class="input w-300" readonly="readonly"/>
            <{link ctl="company/company:dialog" select="mini:#case_company_id,#case_company_name/N/选择装修公司" class="button"}>
        </td>
    </tr>    
    <tr><th>QQ：</th><td><input type="text" name="data[qq]" value="<{$detail.qq}>" class="input w-300"/></td></tr>
    <tr><th>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile}>" class="input w-300"/></td></tr>
    <tr><th>毕业院校：</th><td><input type="text" name="data[school]" value="<{$detail.school}>" class="input w-300"/></td></tr>
    <tr><th>设计理念：</th><td><textarea class="textarea" name="data[slogan]"><{$detail.slogan}></textarea></td></tr>
    <tr><th class="w-100"><span class="red">*</span>城市：</th><td><{widget id="data/region" city_id=$detail.city_id}></td></tr>    
    <tr><th>统计：</th>
        <td>
            <label>浏览数:<input type="text" name="data[views]" value="<{$detail.views|default:'0'}>" class="input w-100"/></label>
            <label>案例数:<input type="text" name="data[case_num]" value="<{$detail.case_num|default:'0'}>" class="input w-100"/></label>
            <label>工地数:<input type="text" name="data[blog_num]" value="<{$detail.blog_num|default:'0'}>" class="input w-100"/></label>
            <label>预约数:<input type="text" name="data[yuyue_num]" value="<{$detail.yuyue_num|default:'0'}>" class="input w-100"/></label>       
        </td>
    </tr>
    <tr><th>评分：</th>
        <td>
            <label>评论数:<input type="text" name="data[comments]" value="<{$detail.comments|default:'0'}>" class="input w-100"/></label>
            <label>综合&nbsp;&nbsp;:<input type="text" name="data[score]" value="<{$detail.score|default:'0'}>" class="input w-100"/></label>
            <{foreach $CONFIG.score.designer as $k=>$v}>
            <label><{$v}>&nbsp;&nbsp;:<input type="text" name="data[<{$k}>]" value="<{$detail[$k]|default:'0'}>" class="input w-100"/></label>
            <{/foreach}>
        </td>
    </tr>
    <{widget id="attr/form" from="zx:designer"}>
    <tr><th>简介：</th><td><textarea name="data[about]" kindeditor="full" style="width:800px;height:350px;"><{$detail.about}></textarea></td></tr>
    <tr><th>排序：</th><td><input type="text" name="data[orderby]" value="<{$detail.orderby|default:50}>" class="input w-100"/></td></tr>
    <tr><th>审核</th>
        <td>
            <ul class="group-list">
                <li><label><input type="radio" name="data[audit]" value="0" >待审</label></li>
                <li><label><input type="radio" name="data[audit]" value="1" checked="checked">通过</label></li>
                <div class="clear-both"></div>
            </ul>
        </td>
    </tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>