<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="weixin/keyword:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?weixin/keyword-edit.html" mini-form="keyword-form" method="post" >
<input type="hidden" name="kw_id" value="<{$detail.kw_id}>"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr>
    <th><span class="red">*</span>关键字：</th><td><input type="text" name="data[keyword]" value="<{$detail.keyword|default:''}>" class="input w-200"/></td>
</tr>
<tr>
    <th>回复图文：</th>
    <td>
        <input type="hidden" name="data[reply_id]" value="<{$detail.reply_id}>" id="weixin_reply_id" class="input w-100"/>
        <div class="weixin-preview<{if !$reply}> hide<{/if}>" style="float:left;">
            <div class="weixin-box">
                <p class="weixin-title" id="weixin_reply_title"><{$reply.title}></p>
                <div class="weixin-cover"><img class="weixin-cover-pic" id="weixin_reply_photo" src="<{$pager.img}>/<{$reply.photo}>"></div>
            </div>
        </div><br />
        <{link ctl="weixin/reply:dialog" arg0=$weixin.wx_id id="weixin_reply_btn" title="选择微信素材" class="button"}>
    </td>
</tr>
<tr><th>回复文本：</th><td><textarea name="data[content]" class="textarea w-300"><{$detail.content}></textarea></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<script type="text/javascript">
(function(K, $){
$("#weixin_reply_btn").click(function(e){
    e.stopPropagation(); e.preventDefault();
    var link = $(this).attr("action") || $(this).attr("href");
    Widget.Dialog.Select(link, 'N', function(ret){
        $("#weixin_reply_id").val(ret[0]);
        $("#weixin_reply_title").html(ret[1].title);
        $("#weixin_reply_photo").attr("src", "<{$pager.img}>/"+ret[1].photo);
        $(".weixin-preview").show();
    }, {title:"选择微信素材",width:720});
});
})(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>