<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="block/item:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?block/item-edit.html" mini-form="item-form" method="post" ENCTYPE="multipart/form-data">
<input type="hidden" name="item_id" value="<{$detail.item_id}>"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr>
	<th>推荐位：</th>
	<td><select name="data[block_id]" class="w-150"><{widget id="block/option" from=$block.from value=$detail.block_id}></select></td>
</tr>
<tr><th>城市：</th><td><{$detail.city_name}></td></tr>
<tr><th>标题：</th><td><input type="text" name="data[title]" value="<{$detail.title}>" class="input w-300"/></td></tr>
<tr><th>连接：</th><td><input type="text" name="data[link]" value="<{$detail.link}>" class="input w-300"/></td></tr>
<tr>
	<th>图片：</th>
	<td>
		<input type="text" name="data[thumb]" value="<{$detail.thumb}>" class="input w-200" />&nbsp;&nbsp;&nbsp;
		<input type="file" name="data[thumb]" class="input w-100" />
	</td>
</tr>
<tr><th>有效期：</th><td><input type="text" name="data[expire_time]" class="input w-100" date="expire_time" value="<{if $detail.expire_time}><{$detail.expire_time|format:"Y-m-d"}><{else}>0<{/if}>"/><span class="tip-comment">0：永不过期</span></td></tr>
<tr><th>排序：</th><td><input type="text" name="data[orderby]" value="<{$detail.orderby}>" class="input w-100"/></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>