<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="price/pricevalue:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?price/attr-edit.html" mini-form="pricevalue-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="priceattr_id" value="<{$detail.priceattr_id}>"/>
<tr><th>名称：</th><td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/></td></tr>
<tr><th>分类：</th><td>
<select name='data[pricefrom_id]' class="w-100">
<{foreach $list_from as $item}>
		<option value='<{$item.pricefrom_id}>' <{if $detail.pricefrom_id == $item.pricefrom_id}>selected='selected'<{/if}>><{$item.title}></option>
<{/foreach}>
</select>
</td></tr>
<tr><th class="w-100">城市：</th>
	<td>
		<b class="blue"><{$city_list[$detail.city_id].city_name}></b>
	</td>
</tr>
<tr><th>百分比：</th><td><input type="text" name="data[per]" value="<{$detail.per|default:''}>" class="input w-300"/></td></tr>
<tr><th>主材：</th><td><input type="text" name="data[zhucai]" value="<{$detail.zhucai|default:''}>" class="input w-300"/></td></tr>
<tr><th>辅材：</th><td><input type="text" name="data[fucai]" value="<{$detail.fucai|default:''}>" class="input w-300"/></td></tr>
<tr><th>人工：</th><td><input type="text" name="data[rengong]" value="<{$detail.rengong|default:''}>" class="input w-300"/></td></tr>
<tr><th>制作工艺：</th><td><textarea name="data[content]" kindeditor="full" style="width:800px;height:350px;"><{$detail.content}></textarea><br /></td></tr>
<tr><th>排序：</th><td><input type="text" name="data[order]" value="<{$detail.order|default:''}>" class="input w-100"/></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<script type="text/javascript" src="<{$pager.res}>/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
(function(K, $){
$("#page-data").tabs();
var editor = KindEditor.create('textarea[kindeditor]', {uploadJson : '?magic/upload-editor.html', extraFileUploadParams:{OATOKEN:"<{$OATOKEN}>"}});
})(window.KT, window.jQuery);
</script> 
<{include file="admin:common/footer.html"}>