<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th>订单管理</th>
        <td align="right"><{link ctl="trade/jforder:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
    <table width="100%" border="0" cellspacing="0" class="table-data form">
        <tr><th>订单号：</th><td class="w-300"><{$detail.order_no}></td><th>ID：</th><td><{$detail.order_id}></td></tr>
        <tr><th>会员：</th><td><{$member.uname}>(UID:<{$detail.uid}>)</td><th>会员：</th><td><{$member.uname}>(UID:<{$detail.uid}>)</td></tr>
        <tr><th>商品总数：</th><td><{$detail.product_num}></td><th>商品种类：</th><td><{$detail.product_name}></td></tr>
        <tr><th>商品总价：</th><td><{$detail.product_jfprice}>积分</td><th>订单金额：</th><td><{$detail.jfamount|default:'--'}>(含运费:0)积分</td></tr>
        <tr>
            <th>支付状态：</th><td><{if $detail.pay_status}><b class="blue">已付款</b><{else}>未付款<{/if}></td>
            <th>支付时间：</th><td><{if $detail.pay_time}><{$detail.pay_time|format}><{else}>--<{/if}></td>
        </tr>
        <tr><th>订单状态：</th>
            <td>
                <{if $detail.order_status == '-2'}>商家取消
                <{elseif $detail.order_status=='-1'}>用户取消
                <{elseif $detail.order_status=='1'}><b class="blue">已发货</b>
                <{elseif $detail.order_status==2}><b class="green">已完成</b>
                <{else}><b class="red">未处理</b><{/if}>
            </td>
            <th>审核：</th><td><{if $detail.audit}>正常<{else}><b class="red">待审</b><{/if}></td>    
        </tr>
        <tr>
            <th>下单时间：</th><td><{$detail.dateline|format}></td>
            <th>来源IP：</th><td><{$detail.clientip}>(<{$detail.clientip|iplocal}>)</td>
        </tr>
        <tr><th>联系人：</th><td><{$detail.contact}></td><th>联系电话：</th><td><{$detail.mobile}>&nbsp;</td></tr>
        <tr><th>收货地址：</th><td colspan="3"><{$detail.addr}>&nbsp;</td></tr>
        <tr><th>订单备注：</th><td colspan="3"><{$detail.note}>&nbsp;</td></tr>
    </table>
    <table width="100%" border="0" cellspacing="0" class="table-data table">
        <tr><th class="w-100">ID</th><th>商品</th><th class="w-50">单价</th><th class="w-50">数量</th><th class="w-50">运费</th><th class="w-100">小计</th></tr>
        
        <tr>
         <td><label><{$detail.order_id}><label></td><td><{$detail.product_name}>(ID:<{$detail.product_id}>)</td>
         <td><{$detail.product_jfprice}>积分</td><td><{$detail.product_num}></td><td>包邮</td><td><{$detail.jfamount}>积分</td>
        </tr>
    </table>
</div>
<{include file="admin:common/footer.html"}>