<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"> &nbsp; &nbsp;<{link ctl="activity/ex:create" arg0=$activityid class="button" title="添加"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <h4 class="tip-notice" style="margin-bottom:10px;">活动：<{$activity.title}></h4>
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th>名称</th><th>内容</th><th class="w-150">操作</th></tr>
    <{foreach $items as $item}>
    <tr><td><label><input type="checkbox" value="<{$item.ex_id}>" name="ex_id[]" CK="PRI"/><{$item.ex_id}><label></td><td><{$item.name}></td><td><{$item.contents}></td><td><{link ctl="activity/ex:edit" args=$item.ex_id title="修改" class="button"}><{link ctl="activity/ex:delete" args=$item.ex_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td></tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="activity/ex:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>