<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="product/comment:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?product/comment-edit.html" mini-form="comment-form" method="post" >
<input type="hidden" name="comment_id" value="<{$detail.comment_id}>"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
	<tr><th>商品：</th><td><{$product.title|default:'--'}>(ID:<{$detail.product_id}>)</td></tr>
	<tr>
		<th><span class="red">*</span>商铺：</th>
		<td>
			<input type="hidden" name="data[shop_id]" value="<{$detail.shop_id}>" id="select_shop_shop_id_id" />
			<input type="text" value="<{$shop.title}>" id="select_shop_shop_id_title" class="input w-200" readonly/>
			<{link ctl="shop/shop:dialog"  select="mini:#select_shop_shop_id_id,#select_shop_shop_id_title/N/选择商铺" title="选择商铺" class="button"}>
		</td>
	</tr>
    <tr>
        <th class="w-100">城市：</th>
        <td>
           <b class="blue"><{$detail.city_name}></b>
        </td>
    </tr>
	<tr>
		<th><span class="red">*</span>会员：</th>
		<td>
			<input type="hidden" name="data[uid]" value="<{$detail.uid}>" id="select_member_uid_id" />
			<input type="text" value="<{$member.uname}>" id="select_member_uid_name" class="input w-200" readonly/>
			<{link ctl="member/member:dialog" arg0="member" select="mini:#select_member_uid_id,#select_member_uid_name/N/选择用户" title="选择用户" class="button"}>
		</td>
	</tr>    
	<tr>
		<th><span class="red">*</span>评分：</th>
		<td><input type="text" name="data[score]" value="<{$detail.score|default:''}>" class="input w-100"/><span class="tip-comment">评分1~5</span></td>
	</tr>
    <tr><th>内容：</th><td><textarea name="data[content]" class="textarea w-400"><{$detail.content}></textarea><br /></td></tr>
    <tr><th>状态：</th>
        <td>
            <label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}> value="1"/>正常</label>&nbsp;&nbsp;
            <label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}> value="0"/>待审</label>
         </td>
     </tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>