<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="designer/yuyue:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?designer/yuyue-edit.html" mini-form="yuyue-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="yuyue_id" value="<{$detail.yuyue_id}>"/>
<tr>
    <th>用户：</th>
    <td>
        <input type="hidden" name="data[uid]" value="<{$detail.uid}>" id="select_member_uid_id" />
        <input type="text" value="<{$member.uname}>" id="select_member_uid_name" class="input w-300" readonly/>
        <{link ctl="member/member:dialog" arg0="member" select="mini:#select_member_uid_id,#select_member_uid_name/N/选择用户" title="选择用户" class="button"}>
    </td>
</tr>
<tr><th><span class="red">*</span>设计师：</th><td>
        <input type="hidden" name="data[designer_id]" value="<{$detail.designer_id}>" id="case_designer_id"/>
        <input type="text"  value="<{$designer.uname}>" id="case_designer_name" class="input w-300" readonly="readonly"/>
        <{link ctl="designer/designer:dialog"  select="mini:#case_designer_id,#case_designer_name/N/选择小区" class="button"}>
    </td>
</tr>
<tr>
    <th>装修公司：</th>
    <td>
        <input type="hidden" name="data[company_id]" value="<{$detail.company_id}>" id="select_company_company_id_id" />
        <input type="text" value="<{$company.name}>" id="select_company_company_id_name" class="input w-300" readonly/>
        <{link ctl="company/company:dialog"  select="mini:#select_company_company_id_id,#select_company_company_id_name/N/选择装修公司" title="选择装修公司" class="button"}>
    </td>
</tr>
<tr><th><span class="red">*</span>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>称呼：</th><td><input type="text" name="data[contact]" value="<{$detail.contact|default:''}>" class="input w-300"/></td></tr>
<tr><th>客户要求：</th><td><textarea name="data[content]" class="textarea"><{$detail.content}></textarea></td></tr>
<tr><th>跟进状态：</th><td><select name="data[status]" class="select w-100"><{widget id="data/yuyue" value=$detail.status}></select></td></tr>
<tr><th>商家备注：</th><td><textarea name="data[remark]" class="textarea w-400"><{$detail.remark}></textarea></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>