<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?system/config-bulletin.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="bulletin" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr>
        <th>会员中心公告：</th>
        <td>
            <label><input type="radio" name="config[open_member]" <{if $config.open_member}>checked="checked"<{/if}> value="1"/>开启</label>&nbsp;&nbsp;
            <label><input type="radio" name="config[open_member]" <{if empty($config.open_member)}>checked="checked"<{/if}> value="0"/>关闭</label>
        </td>   
    </tr>
    <tr><th>公告内容：</th><td><textarea name="config[member]" class="textarea"><{$config.member}></textarea></td></tr>
    <tr>
        <th>公司中心公告：</th>
        <td>
            <label><input type="radio" name="config[open_company]" <{if $config.open_company}>checked="checked"<{/if}> value="1"/>开启</label>&nbsp;&nbsp;
            <label><input type="radio" name="config[open_company]" <{if empty($config.open_company)}>checked="checked"<{/if}> value="0"/>关闭</label>
        </td>   
    </tr>
    <tr><th>公告内容：</th><td><textarea name="config[company]" class="textarea"><{$config.company}></textarea></td></tr>
    <tr>
        <th>商铺中心公告：</th>
        <td>
            <label><input type="radio" name="config[open_shop]" <{if $config.open_shop}>checked="checked"<{/if}> value="1"/>开启</label>&nbsp;&nbsp;
            <label><input type="radio" name="config[open_shop]" <{if empty($config.open_shop)}>checked="checked"<{/if}> value="0"/>关闭</label>
        </td>
    </tr>
    <tr><th>公告内容：</th><td><textarea name="config[shop]" class="textarea"><{$config.shop}></textarea><br /></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>