<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?system/config-fenxiao.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="fenxiao" />



<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>招标审核通过返利：</th><td><input type="text" name="config[audit]" value="<{$config.audit|default:'100'}>" class="input w-100"/><span class="tip-comment">推荐用户招标审核通过返利推荐人</span>

</td></tr>
<tr><th>招标签单返利：</th><td><input type="text" name="config[sign]" value="<{$config.sign|default:'500'}>" class="input w-100"/><span class="tip-comment">推荐用户招标审核通过返利推荐人</span></td></tr>
<tr><th>推荐获取积分：</th><td><input type="text" name="config[tuijian]" value="<{$config.tuijian|default:''}>" class="input w-100"/><span class="tip-comment">推荐用户注册后并经过手机验证</span></td></tr>

<th>新注册获取积分：</th><td><input type="text" name="config[newreg]" value="<{$config.newreg|default:''}>" class="input w-100"/><span class="tip-comment">所有新注册用户通过手机验证</span></td></tr>
<tr><th>招标签单获取积分：</th><td><input type="text" name="config[signtender]" value="<{$config.signtender|default:''}>" class="input w-100"/><span class="tip-comment">发布招标签单后</span></td></tr>

<tr>
	<th>购物获取积分：</th>
	<td>
    <input type="text" name="config[pay]" value="<{$config.pay|default:''}>" class="input w-100"/>	<span class="tip-comment">购买商品后按购买价格比例</span>
	</td>
</tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>






</div>

<{include file="admin:common/footer.html"}>