<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<h4 class="tip-notice">所有积分输入负数代表该操作需要扣除积分</h4>
<form action="?system/config-integral.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="integral" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>发布效果图：</th><td><input type="text" name="config[case]" value="<{$config.case|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布在建工地：</th><td><input type="text" name="config[site]" value="<{$config.site|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布问答：</th><td><input type="text" name="config[ask]" value="<{$config.ask|default:''}>" class="input w-100"/></td></tr>
<tr><th>回复问答：</th><td><input type="text" name="config[answer]" value="<{$config.answer|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布优惠信息：</th><td><input type="text" name="config[youhui]" value="<{$config.youhui|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布商家优惠券：</th><td><input type="text" name="config[coupon]" value="<{$config.coupon|default:''}>" class="input w-100"/></td></tr>
<tr><th>身份认证：</th><td><input type="text" name="config[certification]" value="<{$config.certification|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布产品：</th><td><input type="text" name="config[product]" value="<{$config.product|default:''}>" class="input w-100"/></td></tr>
<tr><th>邮件认证：</th><td><input type="text" name="config[email]" value="<{$config.email|default:''}>" class="input w-100"/></td></tr>
<tr><th>手机认证：</th><td><input type="text" name="config[mobile]" value="<{$config.mobile|default:''}>" class="input w-100"/></td></tr>
<tr><th>刷新金币：</th><td><input type="text" name="config[gold]" value="<{$config.gold|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布装修日记：</th><td><input type="text" name="config[diary]" value="<{$config.diary|default:''}>" class="input w-100"/></td></tr>
<tr><th>发布装修公司新闻：</th><td><input type="text" name="config[news]" value="<{$config.news|default:''}>" class="input w-100"/></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>