<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?system/config-zxb.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="zxb" />
<table width="100%" border="0" cellspacing="0" class="table-data form"><tr><th>已服务业主起始数：</th><td><input type="text" name="config[zxb_yezhu]" value="<{$config.zxb_yezhu|default:'5000'}>" class="input w-100"/><span class="tip-comment">装修保累计已服务业主数以此基础增加</span></td></tr>
<tr><th>累计交易额起始数：</th><td><input type="text" name="config[zxb_price]" value="<{$config.zxb_price|default:''}>" class="input w-100"/><span class="tip-comment">装修保累计交易额数以此基础增加</span></td></tr>
<tr><th>累计认证装修公司起始数：</th><td><input type="text" name="config[zxb_company]" value="<{$config.zxb_company|default:''}>" class="input w-100"/><span class="tip-comment">装修保累计认证装修公司以此基础增加</span></td></tr>
<tr><th>合同下载路径：</th><td><input type="text" name="config[hetong]" value="<{$config.hetong|default:''}>" class="input w-300"/><span class="tip-comment">填写装修保合同下载地址</span></td></tr>
<tr><th>默认满意度：</th><td><input type="text" name="config[satisfaction]" value="<{$config.satisfaction|default:''}>" class="input w-300"/><span class="tip-comment">默认满意度</span></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>