<{include file="admin:common/header.html"}>
<script type="text/javascript" src="<{$pager.res}>/script/widget.YMD.js"></script>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="gz/gz:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?gz/gz-create.html" mini-form="gz-form" method="post" >
<input type="hidden" name="account[from]" value="gz"/>
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr>
    <th><span class="red">*</span>登录名：</th>
    <td><input type="text" name="account[uname]" value="<{$detail.uname}>" class="input w-300"/><span class="tip-comment">登录网站的帐号</span></td>
</tr>
<tr>
    <th><span class="red">*</span>密码：</th>
    <td><input type="text" name="account[passwd]" value="<{$detail.passwd}>" class="input w-300"/><span class="tip-comment">登录网站的密码</span></td>
</tr>
<tr><th><span class="red">*</span>邮箱：</th><td><input type="text" name="account[mail]" value="<{$detail.mail}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>名称：</th><td><input type="text" name="data[name]" value="<{$detail.name|default:''}>" class="input w-300"/></td></tr>
<tr><th>等级：</th><td><select name="data[group_id]" class="w-150"><{widget id="member/group" from='gz' value=$detail.group_id}></select></td></tr>
<tr><th>QQ：</th><td><input type="text" name="data[qq]" value="<{$detail.qq|default:''}>" class="input w-300"/></td></tr>
<tr><th>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-300"/></td></tr>
<tr><th>服务理念：</th><td><input type="text" name="data[slogan]" value="<{$detail.slogan}>" class="input w-300"/></td></tr>
<tr><th class="w-100"><span class="red">*</span>城市：</th><td><{widget id="data/region" city_id=$detail.city_id}></td></tr>
<tr><th>统计：</th>
    <td>
        <label>浏览数:<input type="text" name="data[views]" value="<{$detail.views|default:'0'}>" class="input w-100"/></label>
        <label>案例数:<input type="text" name="data[case_num]" value="<{$detail.case_num|default:'0'}>" class="input w-100"/></label>
        <label>工地数:<input type="text" name="data[site_num]" value="<{$detail.site_num|default:'0'}>" class="input w-100"/></label>
        <label>预约数:<input type="text" name="data[yuyue_num]" value="<{$detail.yuyue_num|default:'0'}>" class="input w-100"/></label>       
    </td>
</tr>
<tr><th>评分：</th>
    <td>
        <label>评论数:<input type="text" name="data[comments]" value="<{$detail.comments|default:'0'}>" class="input w-100"/></label>
        <label>综合&nbsp;&nbsp;:<input type="text" name="data[score]" value="<{$detail.score|default:'0'}>" class="input w-100"/></label>
        <{foreach $CONFIG.score.gz as $k=>$v}>
        <label><{$v}>&nbsp;&nbsp;:<input type="text" name="data[<{$k}>]" value="<{$detail[$k]|default:'0'}>" class="input w-100"/></label>
        <{/foreach}>
    </td>
</tr>
<{widget id="attr/form" from="zx:gz"}>
<tr><th><span class="red">*</span>关于：</th><td><textarea name="data[about]" kindeditor="full" style="width:800px;height:350px;"><{$detail.about}></textarea></td></tr>
<tr><th>排序：</th><td><input type="text" name="data[orderby]" value="<{$detail.orderby|default:'50'}>" class="input w-100"/></td></tr>
<tr>
	<th>审核：</th>
	<td>
		<label><input type="radio" name="data[audit]" checked="checked" value="1"/>发布</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[audit]" value="0"/>待审</label>
	</td>
</tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<script type="text/javascript" src="<{$pager.res}>/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
(function(K, $){
var editor = KindEditor.create('textarea[kindeditor]',{uploadJson : '?magic/upload-editor.html', extraFileUploadParams:{OATOKEN:"<{$OATOKEN}>"}});
})(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>