<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="weixin/coupon:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>优惠券：</th><td><{$detail.coupon_id}></td></tr>
<tr><th>微信号：</th><td><{$detail.wx_id}></td></tr>
<tr><th>标题：</th><td><{$detail.title}></td></tr>
<tr><th>封面图片：</th><td><img src="<{$pager.img}>/<{$detail.photo}>" class="wh-200" /></td></tr>
<tr><th>发布时间：</th><td><{$detail.stime}></td></tr>
<tr><th>结束时间：</th><td><{$detail.ltime}></td></tr>
<tr><th>优惠券数量：</th><td><{$detail.num}></td></tr>
<tr><th>每人最多允许获取次数：</th><td><{$detail.max_count}></td></tr>
<tr><th>已领取数：</th><td><{$detail.down_count}></td></tr>
<tr><th>已使用：</th><td><{$detail.use_count}></td></tr>
<tr><th>浏览量：</th><td><{$detail.views}></td></tr>
<tr><th>粉丝状态：</th><td><{$detail.follower_condtion}></td></tr>
</table></div>

<{include file="admin:common/footer.html"}>