<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}>&nbsp;&nbsp;(商铺:<b class="red"><{$shop.title}></b>)</th>
			<td align="right"><{link ctl="product/product:create" arg0=$shop.shop_id class="button" title="添加"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th>标题</th><th>城市</th><th class="w-50">分类</th><th>品牌</th><th class="w-50">商铺价</th><th class="w-50">运费</th><th>上架</th><th>类型</th><th>热卖</th><th>优惠</th><th>推荐</th><th class="w-50">排序</th><th class="w-50">审核</th><th class="w-100">创建时间</th><th class="w-150">操作</th></tr>    <{foreach $items as $item}>
    <tr>
        <td><label><input type="checkbox" value="<{$item.product_id}>" name="product_id[]" CK="PRI"/><{$item.product_id}><label></td>

        <td><{$item.name}></td>
<td><{$item.city_name}>(ID:<{$item.city_id}>)</td><td><{$item.cat_title}>(ID:<{$item.cat_id}>)</td>

        <td><{$item.brand_title|default:'--'}>(<{$item.brand_id}>)</td><td><{$item.price}></td><td><{$item.freight}></td>
        <td><{if $item.onsale == 'Y'}><b class="blue">是</b><{else}><b class="red">否</b><{/if}></td>

        <td><{if $item.sale_type == '2'}><b class="red">限时</b><{elseif $item.sale_type=='1'}><b class="red">限量</b><{else}>普通<{/if}></td>        
        <td><{if $item.sale_remai}><b class="blue">是</b><{else}><b class="red">否</b><{/if}></td>        
        <td><{if $item.sale_youhui}><b class="blue">是</b><{else}><b class="red">否</b><{/if}></td>        
        <td><{if $item.sale_tuijian}><b class="blue">是</b><{else}><b class="red">否</b><{/if}></td>        
        <td><{$item.orderby}></td><td><{if $item.audit}>正常<{else}><b class="red">待审</b><{/if}></td>
        <td><a tips="创建时间：<{$item.dateline|format}><br />更新时间：<{$item.lastupdate|format}>"><{$item.dateline|format}></a></td>    
        
<td>
            <{link ctl="block/item:push" arg0='product' arg1=$item.product_id title="推送" load="mini:推送商品" class="button"}>
            <{link ctl="product/photo:product" args=$item.product_id iframe="mini:商品《"|cat:$item.title|cat:"》" width="mini:710" title="相册" class="button"}>
            <{link ctl="product/product:edit" args=$item.product_id title="修改" class="button"}>
            <{link ctl="product/product:delete" args=$item.product_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td></tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left">
                <{link ctl="product/product:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
                <{link ctl="block/item:batch" args='product' type="button" load="mini:批量推荐商品" batch="mini:PRI" priv="hide" value="批量推荐"}>
                <{link ctl="product/product:doaudit" type="button" submit="mini:#items-form" confirm="mini:确定要批量审核选中的内容吗?" priv="hide" value="批量审核"}>
             </td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>