<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="product/product:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?product/product-index.html" id="SO-form" method="post">
<table width="100%" border="0" cellspacing="0" class="table-data form"><tr>
    <tr><th>标题：</th><td><input type="text" name="SO[title]" value="" class="input w-300"/></td></tr>
    <tr><th>商品ID：</th>
        <td>
            <input type="text" name="SO[product_id]" value="" class="input w-100"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><b>商铺ID：</b><input type="text" name="SO[shop_id]" value="" class="input w-100"/></label>
        </td>
    </tr>
    <tr><th>分类：</th>
        <td><select name="SO[cat_id]" class="w-150"><option value="">--分类--</option><{widget id="shop/cate"}></select></td>
    </tr>
    <tr><th>品牌：</th><td><select name="SO[brand_id]" class="w-150"><option value="">--品牌--</option><{widget id="shop/brand"}></select></td></tr>
    <tr><th>城市：</th>
        <td><select name="SO[city_id]" class="w-150"><option value="">--城市--</option><{widget id="data/city"}></select></td>
    </tr>
    <tr><th>创建时间：</th>
        <td>
            <input type="text" name="SO[dateline][0]" value="" class="input w-100" date="dateline" readonly/>~
            <input type="text" name="SO[dateline][1]" value="" class="input w-100" date="dateline" readonly/>
        </td>
    </tr>
    <tr><th>最后修改：</th>
        <td>
            <input type="text" name="SO[lastupdate][0]" value="" class="input w-100" date="lastupdate" readonly/>~
            <input type="text" name="SO[lastupdate][1]" value="" class="input w-100" date="lastupdate" readonly/>
        </td>
    </tr>
    <tr><th>审核：</th>
        <td>
            <select name="SO[audit]" class="w-100"><option value="">全部</option><option value="1">发布</option><option value="0">待审</option></select>
        </td>
    </tr> 
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="搜 索" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>