<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="company/news:so" class="button" title="搜索"}> &nbsp; &nbsp;<{link ctl="company/news:create" class="button" title="添加"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th>城市</th><th>公司</th><th>标题</th><th>创建时间</th><th>创建IP</th><th>是否审核</th><th class="w-150">操作</th></tr>
    <{foreach $items as $item}>
    <tr>
        <td><label><input type="checkbox" value="<{$item.news_id}>" name="news_id[]" CK="PRI"/><{$item.news_id}><label></td>
        <td><{$cityList[$item.city_id].city_name}></td>
        <td><{$company_list[$item.company_id].name|default:'--'}></td> <td><{$item.title}></td>
        <td><{$item.dateline|format}></td><td><{$item.clientip}><{$item.clientip|iplocal}></td> 
        <td><{if $item.audit==1}><b class="blue">正常</b><{else}><b class="red">待审</b><{/if}></td>                                       
        <td>
            <{link ctl="block/item:push" arg0='news' arg1=$item.news_id title="推送" load="mini:推送公司新闻" class="button"}>
            <{link ctl="company/news:edit" args=$item.news_id title="修改" class="button"}>
            <{link ctl="company/news:delete" args=$item.news_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
        </td>
    </tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left">
            <{link ctl="company/news:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
            <{link ctl="company/news:doaudit" type="button" submit="mini:#items-form" confirm="mini:确定要批量审核选中的内容吗?" priv="hide" value="批量审核"}>
            </td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>