<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="block/block:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?block/block-create.html" mini-form="block-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr>
	<th>推荐位：</th>
	<td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/></td>
</tr>
<tr><th class="w-100">页面：</th><td><select name="data[page_id]" class="w-150"><{widget id="block/page" value=$detail.page}></select></td></tr>
<tr><th class="w-100">类型：</th><td><select name="data[from]" class="w-150"><{widget id="block/from"}></select></td></tr>
<tr><th class="w-100">调用：</th>
    <td><select name="data[type]" class="w-150"><option value="default">默认排序</option><option value="hot">热度优先</option><option value="new">最新优先</option></select><span class="tip-comment">当推荐的数据不够时，补充数据方式</span></td>
</tr>
<tr><th class="w-100">调用条数：</th>
    <td>
        <input name="data[limit]" type="text" class="input w-100" value="<{$detail.limit}>"/>
        <span class="tip-comment">最多调用内容条数</span>   
    </td>
</tr>
<!--
<tr><th>描述：</th><td><textarea name="data[desc]" class="textarea w-400"><{$detail.desc}></textarea><br /></td></tr>
<tr><th>配置：</th><td><textarea name="data[config]" class="textarea"><{$detail.config}></textarea><br /><span class="tip-comment">配置是否取关联用户信息,用户统计信息等</span></td></tr>
-->
<tr><th>缓存周期：</th><td><select name="data[ttl]" class="w-100"><{widget id="data/ttl"}></select></td></tr>
<tr><th>排序：</th><td><input type="text" name="data[orderby]" value="<{$detail.orderby|default:'50'}>" class="input w-50"/></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>