<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="ask/answer:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<{if $detail}>
	<div class="tip-notice">
        <b>当前问题</b>：<{$ask.title|cutstr:50}> 
    </div>
<{/if}>
<form action="?ask/answer-edit.html" mini-form="answer-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="answer_id" value="<{$detail.answer_id}>"/>
<tr>
    <th><span class="red">*</span>回答者：</th>
    <td>
        <input type="hidden" name="data[uid]" value="<{$detail.uid}>" id="select_member_uid_id" />
        <input type="text" value="<{$member.uname}>" id="select_member_uid_name" class="input w-300" readonly/>
        <{link ctl="member/member:dialog" arg0="everone" select="mini:#select_member_uid_id,#select_member_uid_name/N/选择用户" title="选择用户" class="button"}>
    </td>
</tr>
<tr><th><span class="red">*</span>内容：</th><td><textarea name="data[contents]" style="width:500px;height:200px;"><{$detail.contents}></textarea><br /></td></tr>

<tr>
	<th><span class="red">*</span>是否审核：</th>
	<td>
		<label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}> value="1"/>发布</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}> value="0"/>待审</label>
	</td>
</tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<script type="text/javascript">
(function(K, $){
var editor = KindEditor.create('textarea[kindeditor]', {uploadJson : '?magic/upload-editor.html', extraFileUploadParams:{OATOKEN:"<{$OATOKEN}>"}});
})(window.KT, window.jQuery);
</script> 
<{include file="admin:common/footer.html"}>