/*公共样式--开始*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

input,
textarea {
	outline: none;
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	text-align: left;
}

.tc {
	text-align: center
}

.tr {
	text-align: right;
}

.ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.clear {
	clear: both;
}


/* ↑清除默认样式 */


/* 顶部样式 */

.head-nav {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d6d6d6;
}

.head-centen {
	width: 1200px;
	height: 36px;
	overflow: hidden;
	margin: 0 auto;
	color: #888888;
}

.head-centen p:first-child {
	float: left;
	line-height: 36px;
}

.head-centen p:first-child i {
	width: 12px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	background-image: url(../images/index_css.png);
}

.head-centen p span {
	float: left;
	margin-right: 15px;
}

.head-centen p span:nth-child(2) {
	color: #000;
}

.head-centen p span em {
	font-style: normal;
	color: red;
}

.head-centen ul {
	float: right;
}

.head-centen ul li {
	margin: 0px 10px;
	float: left;
	line-height: 36px;
	position: relative;
}

.head-centen ul li a {
	color: #888;
}

.head-centen ul li:after {
	content: '';
	width: 1px;
	height: 16px;
	position: absolute;
	top: 4.5px;
	left: 66px;
	background-color: #ddd;
	margin-top: 5px;
}

.head-centen ul li:last-child:after {
	content: '';
	width: 1px;
	height: 37px;
	position: absolute;
	top: 0px;
	left: 77px;
	background-color: #ddd;
	margin-top: 0;
}

.head-centen ul li i {
	width: 18px;
	height: 16px;
	display: block;
	position: absolute;
	left: -22px;
	top: 10px;
	background-image: url(../images/index_css.png);
	background-position: -14px 0;
}

.head-centen p:nth-child(2) {
	padding: 0px 15px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	float: right;
	border-right: 1px solid #ddd;
}

.head-centen p:nth-child(2) a {
	color: red;
}


/* LOGO及搜索层样式 */

.head {
	width: 1200px;
	height: 112px;
	margin: 0 auto;
}

.head li {
	float: left;
}

.head li:first-child img {
	width: 181px;
	height: 61px;
	overflow: hidden;
	margin-top: 25.5px;
	margin-right: 200px;
}

.head .head-form {
	width: 430px;
	height: 40px;
	position: relative;
	margin-top: 36px;
	border: 1px solid #f9607e;
	font-size: 12px;
}

.head .head-form span {
	width: 76px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 38px;
	display: block;
	text-indent: 6px;
	border-right: #e4e3e3;
	background-color: #f2f2f2;
}

.head .head-form span:after {
	content: '';
	width: 11px;
	height: 7px;
	position: absolute;
	top: 16px;
	left: 62px;
	display: block;
	background-image: url(../images/index_css.png);
	background-position: -36px 0px;
}

.head .head-form ul {
	width: 77px;
	position: absolute;
	top: 38px;
	left: -1px;
	border: 1px solid #f9607e;
	z-index: 8;
	background-color: #f2f2f2;
}

.head .head-form ul li {
	width: 75px;
	height: 38px;
	line-height: 36px;
	text-align: center;
	float: left;
	cursor: pointer;
}

.head .head-form ul li:hover {
	color: red;
	background-color: #dcdbdb;
}

.head ul li.head-tel {
	float: right;
	margin-top: 34px;
	margin-left: ;
}

.head .head-form p {
	width: 274px;
	margin-left: 76px;
	float: left;
	text-indent: 20px;
	line-height: 38px;
}

.head .head-form p:last-child {
	width: 78px;
	height: 38px;
	text-indent: 0px;
	margin-left: 0px;
	float: right;
	background-color: #fa6381;
	text-align: center;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fa6381;
}


/* 菜单导航 */

.index_menu {
	width: 100%;
	height: 40px;
	background-color: #fa6381;
}

.menu-company {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.menu_sel {
	width: 175px;
	float: left;
	position: relative;
	z-index: 10;
	height: 40px;
}

.menu_sel .menu-mour {
	height: 40px;
	letter-spacing: 8px;
	font-size: 16px;
	background-color: #d3294a;
	text-indent: 15px;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}

.menu_wid {
	height: 83px;
	width: 260px;
	box-sizing: border-box;
	border-top: 1px solid #fff;
	background-color: rgba(0, 0, 0, .5);
}

.menu_wid a {
	color: #fff;
}


/*banner上面的菜单*/

.menu_sel .menu-mour i {
	background-position: -52px 0;
}

.menu_sel .menu_ej_r {
	width: 940px;
	height: 500px;
	box-sizing: border-box;
	position: absolute;
	left: 260px;
	top: 40px;
	z-index: 5;
	background-color: rgba(255, 255, 255, .8);
}

.menu_sel .menu_ej_r .menu_ej_r_l {
	width: 739px;
	height: 500px;
}

.sigma-content {
	padding-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}

.sigma-middle-line:before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background-color: rgba(124, 124, 124, .3);
	/*颜色需与主题大背景色一致*/
	position: relative;
	top: 10px;
	/*调节线高*/
	left: 0;
}

.sigma-line-text {
	display: inline-block;
	background-color: rgba(255, 255, 255, .8);
	padding: 0 18px 0 18px;
	position: relative;
	font-size: 14px;
	font-weight: 500;
}

.menu_ej_r .menu_ej_r_l {
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}

.menu_ej_r .menu_ej_r_r {
	width: 199px;
	height: 100%;
	box-sizing: border-box;
	padding: 15px 20px 15px;
}

.menu_ej_r .menu_ej_r_r ul li img {
	width: 80%;
	height: 100%;
}

.menu_ej_r .jxsjs ul li {
	position: relative;
}

.menu_ej_r .jxsjs ul li>a {
	display: block;
	width: 90px;
	height: 90px;
}

.menu_ej_r .jxsjs ul li div {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 35px;
	top: 0;
	padding-top: 20px;
	z-index: 3;
	display: none;
	background-color: rgba(250, 99, 129, .6);
	border-radius: 50%;
	overflow: hidden;
}

.menu_ej_r .jxsjs ul li div p {
	margin-bottom: 10px;
	color: #fff;
}

.menu_ej_r .jxsjs ul li {
	padding-left: 20px;
}

.menu_ej_r .jxsjs ul li a img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.menu_ej_r .menu_ej_r_r p {
	text-align: center;
	color: #ff3366;
	margin-bottom: 30px;
}

.menu_ej_r .menu_ej_r_r ul li p {
	margin-bottom: 10px;
}

.menu_ej_r .menu_ej_r_r ul li:hover div {
	display: block;
}

.menu_ej_r .menu_ej_r_r li {
	margin-bottom: 15px;
}

.menu_ej_r .menu_ej_p3 ul li a {
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid #ff3366;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	color: #ff3366;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 60px;
}

.menu_ej_r .menu_ej_r_r a {
	display: block;
	margin-left: 15px;
	width: 100%;
	height: 100%;
}

.menu_ej_r .menu_ej_r_r p a {
	margin-left: 0;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f {
	width: 370px;
	height: 392px;
	margin-top: 50px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f p {
	width: 270px;
	margin-left: 75px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form {
	width: 260px;
	height: 280px;
	margin-left: 75px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form input[type="text"] {
	border: 1px solid #ccc;
	height: 40px;
	width: 254px;
	padding-left: 15px;
	margin-bottom: 15px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form select.lx {
	height: 40px;
	width: 254px;
	padding-left: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	outline: none;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form select.dq1,
.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form select.dq2 {
	height: 40px;
	width: 120px;
	padding-left: 15px;
	margin-bottom: 15px;
}

.menu_ej_r_l_f select.text {
	width: 82px;
	height: 36px;
}

.menu_ej_r_l_f select.text:first-child {
	margin-left: 5px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form select.dq2 {
	margin-left: 15px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_f form input[type="submit"] {
	height: 40px;
	width: 254px;
	line-height: 40px;
	color: #fff;
	background-color: #ff6699;
	border-radius: 5px;
	margin-top: 8px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_img {
	width: 350px;
	height: 255px;
	margin-top: 30px;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_img p {
	font-size: 12px;
	margin: 5px 0;
	color: #666;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_img a {
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.menu_ej_r .menu_ej_r_l .menu_ej_r_l_img a img {
	width: 100%;
	height: 100%;
}


/*二级菜单面积计算表单*/

.menu_ej_r .mjjs {
	position: relative;
	overflow: hidden;
}

.menu_ej_r .mjjs .mjjs_f1 {
	width: 450px;
	height: 443px;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
}

.menu_ej_r .mjjs .mjjs_f1 .p1 {
	color: #ffcc66;
	text-align: center;
	margin-top: 30px;
}

.menu_ej_r .mjjs .mjjs_f1 .p2 {
	text-align: left;
	margin-left: 30px;
	margin-top: 10px;
}

.menu_ej_r .mjjs .mjjs_f1 form {
	width: 260px;
	height: 270px;
	margin-top: 40px;
	margin-left: 80px;
}

.menu_ej_r .mjjs .mjjs_f1 form .se3 select {
	width: 32%;
	height: 40px;
}

.menu_ej_r .mjjs .mjjs_f1 form .se2 select {
	width: 49%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.menu_ej_r .mjjs .mjjs_f1 form .in1 {
	display: block;
	width: 100%;
	height: 40px;
	position: relative;
	margin: 15px 0;
}

.menu_ej_r .mjjs .mjjs_f1 form .in1 span {
	position: absolute;
	right: 5px;
	top: 10px;
}

.menu_ej_r .mjjs .mjjs_f1 form input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding-left: 10px;
	margin-left: 0;
}

.menu_ej_r .mjjs .mjjs_bt {
	position: absolute;
	left: 385px;
	top: 100px;
}

.menu_ej_r .mjjs .mjjs_bt input {
	width: 110px;
	height: 110px;
	background: url(../images/zxb.jpg) no-repeat;
	background-position: -12px -183px;
	cursor: pointer;
	border-radius: 50%;
}

.menu_ej_r .mjjs .mjjs_bt:hover input {
	background-position: -12px -16px;
}

.menu_ej_r .mjjs .mjjs_jg {
	width: 400px;
	height: 410px;
}

.menu_ej_r .mjjs .mjjs_jg h3 {
	text-align: center;
}

.menu_ej_r .mjjs .mjjs_jg h3 span {
	color: #ff6633;
	font-size: 40px;
	margin: 0 20px;
}

.menu_ej_r .mjjs .mjjs_jg div {
	width: 340px;
	height: 205px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-left: 80px;
	margin-top: 35px;
}

.menu_ej_r .mjjs .mjjs_jg div p {
	text-align: center;
	margin: 20px 0;
}

.menu_ej_r .mjjs .mjjs_jg div p span {
	font-size: 20px;
	margin: 0 20px;
}


/*二级菜单面积计算表单*/

.menu_ej i {
	display: block;
	width: 36px;
	height: 34px;
	float: left;
	background: url(../images/index_css.png) no-repeat;
	margin-left: 15px;
	margin-top: 28px;
}

.menu_sel .menu-mour i {
	width: 17px;
	height: 12px;
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	background-image: url(../images/index_css.png);
}

.menu_sel .menu_ej p:first-child {
	font-size: 16px;
	width: 200px;
	margin-left: 65px;
	padding-top: 15px;
}

.menu_sel .menu_ej p:last-child {
	font-size: 12px;
	width: 200px;
	margin-left: 65px;
}

.pa {
	color: #fff;
}

.ll {
	background-color: #fff;
}

.pp {
	color: #ff3366;
}

.menu_sel ul li a div {
	color: #ff3366;
}

i.menu_icn0 {
	background-position: 0 -55px;
}

i.menu_icn1 {
	background-position: -36px -55px;
}

i.menu_icn2 {
	background-position: -72px -55px;
}

i.menu_icn3 {
	background-position: -108px -55px;
}

i.menu_icn4 {
	background-position: -144px -55px;
}

i.menu_icn5 {
	background-position: -180px -55px;
}

.menu_nav {
	width: 1025px;
	height: 40px;
}

.menu_nav .menu-limg {
	width: 200px;
	height: 40px;
	position: relative;
}

.menu_nav .menu-limg .menu-er {
	width: 210px;
	height: 185px;
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 5;
}

.menu_nav .menu-limg:hover .menu-er {
	display: block;
}

.menu_nav .menu-limg a {
	display: block;
	width: 100%;
	height: 100%;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.menu_nav .menu-limg a img {
	width: 100%;
	height: 100%;
}

.header-menu {
	width: 825px;
	height: 40px;
	margin: 0 auto;
}

.header-menu ul li {
	position: relative;
	float: left;
	width: 152px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	z-index: 5;
}

.header-menu ul li:first-child {
	background-color: #d3294a;
	width: 85px;
}

.header-menu ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.header-menu .menu-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 8px;
	height: 4px;
	background: url(../images/css-sprite-1.png) no-repeat;
	background-position: -24px 0;
}

.header-menu .menu-son dd {
	position: relative;
	background: #ff6699;
	z-index: 2;
}

.header-menu .menu-son dd a {
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #fff;
}

.header-menu li:hover .menu-icon {
	background: url(../images/css-sprite-1.png) no-repeat -24px -5px;
}

.header-menu li:hover {
	background-color: #ff6699;
}

.header-menu li:hover a {
	color: #fff;
	text-decoration: none;
}

.header-menu li dd:hover {
	background: #ff6688;
	opacity: 1;
}


/*猜你需要*/

.cnxy {
	width: 1200px;
	height: 100px;
	margin: 20px auto 20px;
}

.cnxy ul li {
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 60px;
	width: 235px;
	height: 100px;
	float: left;
	padding-top: 20px;
}

.cnxy ul li div.cnxy_2 {
	transition: all 1s ease;
}

.cnxy ul li:first-child {
	width: 260px;
	height: 100px;
	padding-top: 0;
	border: none;
	padding-left: 50px;
	background: url(../images/bb1.png) repeat-x;
	background-size: contain;
}

.cnxy ul li:hover div.cnxy_2 {
	transform: translate(-30px);
}

.cnxy ul li:hover div.cnxy_2 a {
	text-decoration: none;
}

.cnxy_1 i {
	display: inline-block;
	width: 21px;
	height: 24px;
	background: url(../images/index_css.png) no-repeat 0 -20px;
	margin-top: 15px;
}

.cnxy_2 a span {
	margin-left: 19px;
	font-size: 18px;
	display: inline-block;
	height: 50px;
	line-height: 36px;
}

.cnxy_1 span.lis {
	color: #ff6699;
	font-size: 24px;
	margin-left: 5px;
}

.cnxy_1 p {
	margin-top: 15px;
	margin-left: 15px;
}

.cnxy_1 p a {
	color: #ff6699;
}

.cnxy_1 span.cnxy_ic {
	display: inline-block;
	width: 9px;
	height: 16px;
	background: url(../images/index_css.png) no-repeat -33px 0;
	margin-left: 40px;
}


/*装修美图*/

.zxmt {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.zxmt_bt {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	margin-bottom: 20px;
	overflow: hidden;
}

.zxmt_bt h1 {
	margin-right: 20px;
}

.zxmt_bt p.fl,
.zxmt_bt p.fr {
	padding-top: 8px;
	font-size: 12px;
	color: #666;
}

.zxmt_bt p.fr a:hover {
	color: #ff3366;
}

.zxmt_form {
	width: 260px;
	height: 250px;
	padding: 0 25px;
	background-color: #ff6699;
	padding-top: 20px;
}

.zxmt_form .zxmt_form_top {
	overflow: hidden;
}

.zxmt_form .zxmt_form_top i {
	display: inline-block;
	background: url(../images/index-icos.png) no-repeat;
	background-position: -67px 0;
	width: 69px;
	height: 68px;
	margin-bottom: 10px;
}

.zxmt_form .zxmt_form_top .zxmt_form_top_g {
	font-size: 22px;
	color: #fff;
}

.zxmt_form .zxmt_form_top span {
	color: #fff;
	display: inline-block;
	padding-top: 7px;
}

.zxmt_form form {
	width: 210px;
}

.zxmt_form form input {
	width: 100%;
	height: 36px;
	margin-bottom: 15px;
	padding-left: 15px;
}

.zxmt_form form input[type="submit"] {
	color: #ff6666;
	background-color: #ffff00;
	border-radius: 5px;
	padding-left: 0;
}

.zxmt_ul {
	width: 260px;
	height: 313px;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.zxmt_ul .zxmt_ull li {
	display: block;
	float: left;
	width: 129px;
	text-align: center;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #ddd;
}

.dd {
	color: #ff6699;
	background-color: #ccc;
}

.zxmt_ul .zxmt_ull li:first-child {
	border-right: 1px solid #ddd;
}

.zxmt_ul_er {
	position: absolute;
	left: 0;
	top: 43px;
	height: 268px;
	width: 258px;
}

.zxmt_ul_er .zxmt_ul_er1,
.zxmt_ul_er .zxmt_ul_er2 {
	width: 100%;
	height: 100%;
	padding-left: 20px;
}

.zxmt_ul_er .zxmt_ul_er1 li:hover,
.zxmt_ul_er .zxmt_ul_er2 li:hover {
	color: #ff6699;
}

.zxmt_ul_er li {
	list-style: disc;
	font-size: 14px;
	margin-left: 25px;
	margin-top: 5px;
}

.zxmt_ul_er li:first-child {
	margin-top: 15px;
}

.zxmt_r {
	width: 940px;
	height: 572px;
	padding-left: 20px;
}

.zxmt_r_c_l {
	width: 612px;
	height: 380px;
	overflow: hidden;
	margin-right: 10px;
}

.zxmt_r_c_l img {
	width: 100%;
	height: 100%;
}

.zxmt_r_c_x {
	width: 612px;
	height: 200px;
	overflow: hidden;
}

.zxmt_r_c_x a {
	display: block;
	float: left;
	width: 298px;
	height: 182px;
	margin-top: 11px;
	overflow: hidden;
}

.zxmt_r_c_x a:hover img {
	transform: scale(1.2);
}

.zxmt_r_c_x a:last-child {
	margin-left: 15px;
}

.zxmt_r_c_x a img {
	width: 100%;
	height: 100%;
	transition: all 1s;
}

.zxmt_r_r {
	width: 298px;
	height: auto;
	overflow: hidden;
}

.zxmt_r_r li {
	margin-top: 10px;
}

.zxmt_r_r li:first-child {
	margin-top: 0;
}

.zxmt_r_r li a {
	display: block;
	width: 298px;
	height: 184px;
	overflow: hidden;
}

.zxmt_r_r li a:hover img {
	transform: scale(1.2);
}

.zxmt_r_r li a img {
	width: 100%;
	height: 100%;
	transition: all 1s;
}


/*广告轮播一*/

.gglunb1 {
	width: 1200px;
	margin: 20px auto 0;
	height: 80px;
	overflow: hidden;
}

.gglunb1 li {
	height: 80px;
	width: 1200px;
}

.gglunb1 img,
.gglunb1 a {
	width: 100%;
	height: 100%;
}


/*广告轮播一*/

.jjsj {
	width: 1200px;
	margin: 20px auto 0;
	overflow: hidden;
}

.jjsj_bt {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	margin-bottom: 20px;
	overflow: hidden;
}

.jjsj_bt h1 {
	margin-right: 20px;
}

.jjsj_bt p.fl,
.jjsj_bt p.fr {
	padding-top: 8px;
	font-size: 12px;
	color: #666;
}

.jjsj_bt p.fr a:hover {
	color: #ff3366;
}

.jjsj_x,
.jjsj_s {
	height: 260px;
}

.jjsj_x {
	margin-top: 10px;
}

.jjsj_s ul li,
.jjsj_x ul li {
	float: left;
	margin-left: 10px;
	position: relative;
}

.jjsj_s ul li:first-child,
.jjsj_x ul li:first-child {
	margin-left: 0;
}

.jjsj_s ul li>a,
.jjsj_x ul li>a {
	display: block;
	width: 184px;
	height: 260px;
}

.jjsj_s ul li a img,
.jjsj_x ul li a img {
	width: 100%;
	height: 100%;
}

.jjsj_s ul li a,
.jjsj_s ul li div,
.jjsj_x ul li a,
.jjsj_x ul li div {
	float: left;
}

.jjsj_s ul li div,
.jjsj_x ul li div {
	height: 260px;
	padding-left: 25px;
	background-color: rgba(245, 245, 245, .9);
	width: 240px;
	display: none;
}

.jjsj_s ul li div h2,
.jjsj_x ul li div h2 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.jjsj_s ul li div p,
.jjsj_x ul li div p {
	margin-bottom: 5px;
	line-height: 25px;
}

.jjsj_s ul li div a,
.jjsj_x ul li div a {
	height: 25px;
	color: #fff;
	width: 65px;
	border-radius: 15px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	margin-top: 10px;
}

.jjsj_s ul li div a.xq,
.jjsj_x ul li div a.xq {
	background-color: #ff6699;
}

.jjsj_s ul li div a.yy,
.jjsj_x ul li div a.yy {
	background-color: #cccc33;
	margin-left: 20px;
}


/*品牌公司*/

.ppgs {
	width: 1200px;
	margin: 20px auto 0;
	overflow: hidden;
}

.ppgs_bt {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	margin-bottom: 20px;
	overflow: hidden;
}

.ppgs_bt h1 {
	margin-right: 20px;
}

.ppgs_bt p.fl,
.ppgs_bt p.fr {
	padding-top: 8px;
	font-size: 12px;
	color: #666;
}

.ppgs_bt p.fr a:hover {
	color: #ff3366;
}

.ppgs_f {
	width: 260px;
	height: 450px;
	margin-right: 20px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

.ppgs_f .ppgs_f_img {
	width: 100%;
	height: 100px;
	background-color: #ff6699;
	padding: 15px 15px 0;
}

.ppgs_f .ppgs_f_img i {
	display: block;
	width: 68px;
	height: 68px;
	background: url(../images/index-icos.png) no-repeat;
	background-position: -204px 0;
}

.ppgs_f .ppgs_f_img p {
	color: #fff;
	font-size: 20px;
}

.ppgs_f .ppgs_f_img span {
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
}

.ppgs_f form {
	width: 100%;
	padding: 0 20px;
}

.ppgs_f form input {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}

.ppgs_f form select {
	outline: none;
	border: 1px solid #e3e3e3;
	height: 36px;
	line-height: 26px;
	padding: 3px 0px 3px 5px;
	font-size: 12px;
	color: #555;
	width: 69px;
	margin-bottom: 10px
}

.ppgs_f form input:nth-child(2) {
	margin-top: 20px;
}

.ppgs_f form input[type="submit"] {
	display: block;
	width: 216px;
	height: 36px;
	background-color: #ff6699;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	margin-top: 5px;
	padding-left: 0;
}

.ppgs_f_1 h2 {
	text-align: center;
	color: #999900;
	margin-top: 10px;
	margin-bottom: 5px;
}

.ppgs_f ul {
	margin-top: 13px;
}

.ppgs_f_1 p {
	text-align: center;
}

.ppgs_f .gs_i {
	width: 258px;
	height: 114px;
}

.ppgs_f ul li {
	float: left;
	width: 86px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 3px;
}

.ppgs_f ul li:last-child {
	border-right: 0;
}

.ppgs_f ul li i {
	background: url(../images/index_css.png) no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 17px;
	height: 18px;
}

.ppgs_f ul li i.pp_ic1 {
	background-position: -92px 0;
}

.ppgs_f ul li i.pp_ic2 {
	background-position: -131px 0;
}

.ppgs_f ul li i.pp_ic3 {
	background-position: -166px 0;
}

.ppgs_f ul li span {
	display: inline-block;
	vertical-align: middle;
}

.ppgs_f ul li:hover span a {
	color: #ff6699;
}

.ppgs_f form input {
	width: 100%;
	height: 40px;
	padding-left: 15px;
}

.ppgs_c {
	width: 643px;
	height: 450px;
	margin-right: 17px;
}

.ppgs_c div {
	width: 650px;
	height: 450px;
	overflow: hidden;
}

.ppgs_c div a {
	display: block;
	width: 206px;
	height: 100px;
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	background: url(../images/2222.png) no-repeat;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.ppgs_c div a:nth-child(1),
.ppgs_c div a:nth-child(2),
.ppgs_c div a:nth-child(3) {
	margin-top: 0px;
}

.ppgs_c div a:nth-child(3n) {
	margin-right: 0px;
}

.ppgs_c div a img {
	width: 100%;
	height: 100%;
	transition: all .6s ease;
}

.ppgs_c div a:hover img {
	transform: scale(1.1);
}

.ppgs_r {
	width: 260px;
	height: 450px;
	background: url("../images/bb3.png") repeat;
	padding: 15px;
}

.ppgs_r h2 {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.ppgs_r ul li {
	padding: 14px 0;
	border-bottom: 1px dashed #ddd;
	overflow: hidden;
	overflow: hidden;
}

.ppgs_r ul li i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/index_css.png) no-repeat;
	vertical-align: middle;
}

.ppgs_r ul li i.gs_r_ic1 {
	background-position: -1px -124px;
}

.ppgs_r ul li i.gs_r_ic2 {
	background-position: -24px -124px;
}

.ppgs_r ul li i.gs_r_ic3 {
	background-position: -47px -124px;
}

.ppgs_r ul li i.gs_r_ic4 {
	background-position: -70px -124px;
}

.ppgs_r ul li i.gs_r_ic5 {
	background-position: -92px -124px;
}

.ppgs_r ul li i.gs_r_ic6 {
	background-position: -115px -124px;
}

.ppgs_r ul li i.gs_r_ic7 {
	background-position: -138px -124px;
}

.ppgs_r ul li span {
	vertical-align: middle;
	margin-left: 10px;
}

.ppgs_r ul li p {
	display: inline-block;
	float: right;
}

.ppgs_r ul li p em {
	font-style: normal;
}


/*广告轮播2一*/

.gglunb2 {
	width: 1200px;
	margin: 20px auto 0;
	height: 80px;
	overflow: hidden;
}

.gglunb2 img,
.gglunb2 a {
	width: 100%;
	height: 100%;
}


/*装修攻略*/

.zxgl {
	width: 1200px;
	margin: 20px auto;
}

.zxgl_bt {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	margin-bottom: 20px;
	overflow: hidden;
}

.zxgl_bt h1 {
	margin-right: 20px;
}

.zxgl_bt p.fl,
.zxgl_bt p.fr {
	padding-top: 8px;
	font-size: 12px;
	color: #666;
}

.zxgl_bt p.fr a:hover {
	color: #ff3366;
}

.zxgl_s {
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}

.zxgl_s_l,
.zxgl_s_r {
	width: 40px;
	height: 150px;
	position: absolute;
	top: 0;
	background-color: #ddd;
	cursor: pointer;
	z-index: 4;
}

.zxgl_s_l {
	left: 0;
}

.zxgl_s_r {
	right: 0;
}

.zxgl_s_l i {
	display: block;
	width: 10px;
	height: 19px;
	background: url(../images/index_css.png) no-repeat;
	background-position: -72px 0;
	position: absolute;
	left: 15px;
	top: 70px;
}

.zxgl_s_r i {
	display: block;
	width: 10px;
	height: 19px;
	background: url(../images/index_css.png) no-repeat;
	background-position: -81px 0;
	position: absolute;
	left: 15px;
	top: 70px;
}

.zxgl_x {
	overflow: hidden;
}

.zxgl_s_img {
	width: 2580px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
}

.zxgl_s_img img {
	width: 100%;
	height: 100%;
}

.zxgl_s_img div.zx_w {
	width: 160px;
	height: 50px;
	position: absolute;
}

.zxgl_s_img div.zx_w h3 {
	margin-bottom: 6px;
}

.zxgl_s_img div.zx_w p {
	font-size: 12px;
}

.zxgl_s_img div.zx_d1 {
	top: 80px;
	left: 240px;
}

.zxgl_s_img div.zx_d2 {
	top: 5px;
	left: 380px;
}

.zxgl_s_img div.zx_d3 {
	top: 80px;
	left: 500px;
}

.zxgl_s_img div.zx_d4 {
	top: 5px;
	left: 600px;
}

.zxgl_s_img div.zx_d5 {
	top: 80px;
	left: 758px;
}

.zxgl_s_img div.zx_d6 {
	top: 5px;
	left: 1055px;
}

.zxgl_s_img div.zx_d7 {
	top: 80px;
	left: 1185px;
}

.zxgl_s_img div.zx_d8 {
	top: 5px;
	left: 1290px;
}

.zxgl_s_img div.zx_d9 {
	top: 80px;
	left: 1425px;
}

.zxgl_s_img div.zx_d10 {
	top: 5px;
	left: 1545px;
}

.zxgl_s_img div.zx_d11 {
	top: 80px;
	left: 1685px;
}

.zxgl_s_img div.zx_d12 {
	top: 5px;
	left: 1795px;
}

.zxgl_s_img div.zx_d13 {
	top: 80px;
	left: 1928px;
}

.zxgl_s_img div.zx_d14 {
	top: 5px;
	left: 2275px;
}

.zxgl_s_img div.zx_d15 {
	top: 80px;
	left: 2410px;
}

.zxgl_x .zxgl_x_l a {
	display: block;
	width: 225px;
	height: 157px;
	margin-top: 10px;
	overflow: hidden;
}

.zxgl_x .zxgl_x_l a img {
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}

.zxgl_x .zxgl_x_l a:hover img {
	transform: scale(1.2);
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l {
	margin-left: 10px;
	width: 490px;
	margin-top: 10px;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_x_c_l_b {
	width: 490px;
	height: 320px;
	margin-top: 10px;
	overflow: hidden;
	padding: 0;
	border: none;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_x_c_l_b img {
	width: 100%;
	height: 100%;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_yh {
	width: 490px;
	height: 154px;
	border: 1px solid rgba(204, 204, 204, .7);
	box-sizing: border-box;
	padding: 5px 15px;
	margin-top: 17px;
	border-radius: 5px;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_yh ul li {
	display: block;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_yh ul li:hover a,
.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_yh ul li:hover span {
	color: #ff6699;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_yh ul li p {
	display: inline-block;
	color: red;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_l .zxgl_yh ul li span {
	margin-left: 65px;
}

.zxgl_yh ul li span {
	float: right;
}

.zxgl_yh ul li span i {
	font-style: normal;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_r {
	width: 180px;
	margin-left: 10px;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_r a {
	display: block;
	width: 100%;
	height: 115px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}

.zxgl_x_c_r span {
	display: block;
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	line-height: 20px;
	text-align: center;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_r a img {
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}

.zxgl_x .zxgl_x_c .zxgl_x_c_r a:hover img {
	transform: scale(1.2);
}

.zxgl_x_c_r_s {
	width: 275px;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid rgba(204, 204, 204, .7);
	margin-top: 10px;
	margin-bottom: 10px;
	height: 325px;
	border-radius: 5px;
}

.zxgl_x_c_r_s .zxgl_x_c_r_s2 ul li {
	list-style-type: disc;
	margin-left: 20px;
}

.zxgl_x_c_r1 {
	width: 275px;
	margin-left: 10px;
}

.zxgl_x_c_r_s1 {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.zxgl_x_c_r_s1 h3 {
	font-size: 16px;
}

.zxgl_x_c_r_s1 a:hover {
	color: #ff6699;
}

.zxgl_x_c_r_s2 ul li {
	margin-top: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.zxgl_x_c_r_s2 ul li:hover a {
	color: #ff6699;
}

.zxgl_x_c_r_s1 span {
	font: 12px;
	color: #ccc;
}


/*精选问答*/

.jxwd {
	width: 1200px;
	margin: 20px auto;
	overflow: hidden;
}

.jxwd_l {
	width: 820px;
}

.jxwd_l_m {
	width: 100%;
	height: 80px;
	position: relative;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}

.jxwd_l_bt {
	width: 200px;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
}

.jxwd_l_bt h2 {
	text-align: center;
	height: 80px;
	line-height: 80px;
	background-color: #cccc99;
	font-size: 28px;
	color: #fff;
}

.jxwd_l_sjx {
	position: absolute;
	top: 0;
	left: 200px;
	z-index: 2;
	width: 0;
	height: 0;
	border-top: 80px solid #cccc99;
	border-right: 45px solid transparent;
}

.jxwd_l_mor {
	position: absolute;
	top: 0;
	left: 200px;
	width: 620px;
	height: 80px;
	background: url(../images/11.png) repeat-x;
}

.jxwd_l_mor a:hover {
	color: #ff6699;
}

.jxwd_l_mor p:first-child {
	text-align: center;
	margin-top: 25px;
	font-size: 18px;
}

.jxwd_l_mor p:last-child {
	text-align: right;
	margin-right: 20px;
	color: #ccc;
}

.jxwd_l_c {
	width: 820px;
	height: 380px;
	overflow-y: auto;
}

.jxwd_l_c div.tu a {
	display: block;
	width: 135px;
	height: 70px;
	overflow: hidden;
}

.jxwd_l_c div.wen {
	width: 630px;
	height: 85px;
	margin-left: 20px;
	margin-right: 18px;
	box-sizing: border-box;
}

.jxwd_l_c div.wen a:hover {
	color: #ff6699;
}

.jxwd_l_c div.wen p {
	text-align: right;
}

.jxwd_l_c div.wen h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.jxwd_l_c div.wen span {
	font-size: 12px;
	color: #666;
}

.jxwd_l_c div.wen p i {
	display: inline-block;
	width: 18px;
	height: 12px;
	background: url(../images/css-sprite-1.png) no-repeat;
}

.jxwd_l_c div.wen p i.jxwd_ic1 {
	background-position: -162px 0;
}

.jxwd_l_c div.wen p i.jxwd_ic2 {
	background-position: -145px 0;
}

.jxwd_l_c ul li {
	overflow: hidden;
	margin-top: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(204, 204, 204, .7);
}

.jxwd_l_c ul li:first-child {
	margin-top: 0;
}

.jxwd_l_c div.tu a img {
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}

.jxwd_l_c div.tu a:hover img {
	transform: scale(1.2);
}

.jxwd_l_x {
	width: 820px;
	height: 50px;
	margin-top: 10px;
}

.jxwd_l_x a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #ddd;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.jxwd_l_x a:hover {
	color: #ff6699;
}

.jxwd_r {
	width: 364px;
	padding: 27px 15px;
	box-sizing: border-box;
	border: 1px solid rgba(204, 204, 204, .7);
	margin-left: 14px;
	border-radius: 5px;
}

.jxwd_r h3 {
	text-align: center;
	font-size: 28px;
	margin-bottom: 15px;
}

.jxwd_r p {
	text-align: center;
}

.jxwd_r p span {
	color: red;
}

.jxwd_r a {
	display: block;
	width: 330px;
	height: 60px;
	background: url(../images/index_tiwen.png) no-repeat;
	border-radius: 5px;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: #fff;
	background-size: cover;
	margin: 25px 0;
}

.jxwd_r p i {
	display: inline-block;
	width: 18px;
	height: 17px;
	background: url(../images/index_css.png) no-repeat;
	background-position: -165px 0;
	vertical-align: middle;
	margin-right: 5px;
}

.jxwd_r p.tx {
	margin-bottom: 10px;
}

.jxwd_r p.lx {
	margin-bottom: 13px;
}

.jxwd_r p:last-child {
	color: #ff6699;
}

.jxwd_r form input[type="text"] {
	width: 327px;
	height: 40px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.jxwd_r form input:first-child {
	margin-bottom: 15px;
}

.jxwd_r form input[type="submit"] {
	width: 165px;
	height: 40px;
	background-color: #ff6699;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 80px;
	color: #fff;
	font-size: 20px;
}


/*广告轮播一*/

.gglunb3 {
	width: 1200px;
	margin: 20px auto 0;
	height: 80px;
	overflow: hidden;
}

.gglunb3 img,
.gglunb3 a {
	width: 100%;
	height: 100%;
}


/*家居热点*/

.jjrd {
	width: 1200px;
	margin: 20px auto;
	overflow: hidden;
}

.jjrd_bt {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
}

.jjrd_bt a:hover {
	color: #ff6699;
}

.jjrd_bt h1 {
	margin-right: 20px;
}

.jjrd_bt p.fl,
.jjrd_bt p.fr {
	padding-top: 8px;
	font-size: 12px;
	color: #666;
}

.jjrd_bt p.fr {
	color: #111;
}

.jjrd_left {
	width: 400px;
	margin-top: 20px;
	height: 350px;
}

.jjrd_left a {
	display: block;
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.jjrd_left a img {
	width: 100%;
	height: 100%;
}

.jjrd_content {
	margin-top: 20px;
	width: 500px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	border-right: 1px solid rgba(204, 204, 204, .7);
	height: 350px;
}

.jjrd_content ul li {
	border-bottom: 1px solid rgba(204, 204, 204, .3);
	padding: 10px 0;
}

.jjrd_content ul li:hover a {
	color: #ff6699;
}

.jjrd_content ul li:first-child {
	padding-top: 0;
}

.jjrd_content ul li a {
	font-size: 18px;
	font-weight: 500;
}

.jjrd_content ul li p {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 15px;
	color: #888;
}

.jjrd_right {
	margin-top: 20px;
	width: 300px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	border-right: 1px solid rgba(204, 204, 204, .7);
	height: 350px;
}

.jjrd_right div {
	border-bottom: 1px solid rgba(204, 204, 204, .3);
	margin-bottom: 7px;
}

.jjrd_right div p {
	width: 160px;
	height: 32px;
	font-size: 18px;
	border-bottom: 1px solid #009966;
	padding-bottom: 5px;
	font-weight: 200;
}

.jjrd_right ul li {
	border-bottom: 1px dashed rgba(204, 204, 204, .6);
	padding: 8px 0;
}

.jjrd_right ul li:hover a {
	color: #ff6699;
}

.jjrd_right ul li p a {
	color: #888;
}


/*家居热点*/


/*底部*/

.footer {
	width: 100%;
	height: 200px;
	border-top: 3px solid red;
	padding-top: 40px;
	margin-top: 30px;
	background: #f8f8f8;
}

.footer ul {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.footer ul li {
	width: 180px;
	float: left;
	font-size: 14px;
}

.footer ul li h3 {
	font-size: 18px;
	font-weight: bold;
}

.footer ul li div {
	margin-top: 15px;
	border-left: 1px solid #888;
}

.footer ul li div p {
	margin-left: 10px;
}

.footer ul li div p a:hover {
	color: #ff4401;
}

.footer ul li:nth-child(4) {
	width: 300px;
	height: auto;
	border-left: 1px solid #888;
}

.footer ul li:nth-child(4) span {
	width: 132px;
	height: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.footer ul li:nth-child(5) {
	width: 356px;
	height: auto;
	text-align: center;
	color: red;
	font-size: 16px;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

.footer ul li:nth-child(5) p {
	margin-top: 15px;
}

.footer ul li:nth-child(5) p span {
	font-size: 22px;
	font-weight: bold;
}

.footer ul li:nth-child(5) p:last-child {
	width: 230px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	border: 1px solid red;
	margin-top: 20px;
	margin-bottom: 18px;
	cursor: pointer;
}

.footer ul li:nth-child(5) p:last-child:hover {
	background: #ff4401;
}

.footer ul li:nth-child(5) p:last-child:hover a {
	color: #FFF;
}

div.jg {
	display: none;
	color: red;
	height: 1rem;
}


/*wq修改添加*/

li.sous {
	position: relative;
	border: 1px solid #f9607e;
	box-sizing: border-box;
	width: 478px;
	margin-top: 40px;
}

li.sous input.text {
	position: absolute;
	left: 74px;
	top: 0;
	border: none;
	height: 36px;
	width: 300px;
}

li.sous .btn {
	position: absolute;
	left: 400px;
	top: 0;
	height: 36px;
	width: 76px;
	background-color: #f9607e;
	border-radius: 0;
}


/*底部计算器*/

.tool {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}

.tool ul {
	margin-top: 30px;
}

.tool ul li {
	width: 183px;
	height: 81px;
	line-height: 83px;
	font-size: 18px;
	background: #F8F8F8;
	border-radius: 10px;
	float: left;
	margin-left: 20px;
}

.tool ul li a:hover {
	color: #ff4401;
}

.tool ul li:first-child {
	margin-left: 0px;
}

.tool ul li span {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 14px;
	margin-right: 15px;
}

.tool ul li:first-child span {
	background: url(../images/tool_img.jpg) no-repeat;
}

.tool ul li:nth-child(2) span {
	background: url(../images/tool_img.jpg) -50px 0px no-repeat;
}

.tool ul li:nth-child(3) span {
	background: url(../images/tool_img.jpg) -100px 0px no-repeat;
}

.tool ul li:nth-child(4) span {
	background: url(../images/tool_img.jpg) -0px -50px no-repeat;
}

.tool ul li:nth-child(5) span {
	background: url(../images/tool_img.jpg) -50px -50px no-repeat;
}

.tool ul li:nth-child(6) span {
	background: url(../images/tool_img.jpg) -100px -50px no-repeat;
}
