/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, 
textarea, iframe, table, th, td {margin: 0;padding: 0;}
a,img,a img{border:0 none;}
body{ color:#666666;  font-family:"微软雅黑","宋体","Microsoft Yahei",Arial Narrow; font-size: 12px; margin:0px;}
a{ text-decoration:none; cursor:pointer; }
a:hover{ text-decoration:underline;}
p,span,a{ font-size:12px; color:#666;}
p{ line-height:22px;}
ul li{ list-style:none;}
.green{color:#67a727;}
.orange{color:#ff6b23;}
.lt{ float:left;}
.rt{ float:right;}
.cl{ clear:both;}
.none{ display:none;}
.title{ font-family:"微软雅黑"; font-size:14px; color:#666; font-weight:bold;}

.top{ background:#fbfbfb; width:100%; height:28px; border-bottom:1px solid #e7e7e7;}
.top_cont{ width:1100px; margin:0px auto; line-height:28px;}
.top_cont a{ margin-right:20px;}
a.last{ margin:0px;}
font{ display:inline-block;  vertical-align:middle;}
font.top_lt_icon{  height:20px; width:10px; background:url(../images/ucenter/ico.png) 0px 0px no-repeat;padding-left:8px;}
font.top_rt_icon{ height:20px; width:10px; background:url(../images/ucenter/ico.png) -33px 2px no-repeat;padding-left:8px;}
.head{ width:1100px; margin:0px auto; margin-bottom:10px;}
.head .logo{ height:50px; padding-top:10px; width:auto;}
.head .logo a.a_img,.head .logo span.lt{ display:inline-block;  float:left;}
.head .logo span.lt{ font-size:24px; color:#888888; line-height:30px; height:30px; margin:8px 0px 0px 2px; }
.head .logo span.rt{ margin-top:20px;}
.head .logo span font.logo_rt_icon{ height:20px; width:20px; background:url(../images/ucenter/ico.png) -3px -25px no-repeat;}
.head .logo span a.green{ text-decoration:underline; margin-left:20px;}
.nav{ height:36px; background:#67a727;}
.nav ul { height:36px; max-width:900px;}
.nav ul li{ float:left; height:32px; width:90px; text-align:center; line-height:32px; margin:4px 10px 0px;}
.nav ul li a{ color:#fff; display:block; font-size:14px;}
.nav ul li a.on{ background:#fff; color:#67a727; border-radius:3px 3px 0px 0px;}
.nav ul li a:hover{ text-decoration:none;}
.nav span.rt{  margin:8px 15px 0px 0px;}
.nav span.rt a{color:#fff; font-size:14px;}
.nav font.nav_icon{ height:18px; width:18px;background:url(../images/ucenter/ico.png) -2px -121px no-repeat;padding-left:8px; }

.content{ width:1100px; margin:0px auto;}
.content .cont_lt{ width:150px; border:1px solid #dddddd; height:auto; min-height:500px;}
ul.menu_lay{padding:10px;}
li.menu{ line-height:30px; list-style-position:5px;}
li.menu font.menu_open_icon{height:18px; width:13px;background:url(../images/ucenter/ico.png) -33px -27px no-repeat;padding-left:8px;}
li.menu font.menu_close_icon{height:18px; width:13px;background:url(../images/ucenter/ico.png) -33px -52px no-repeat;padding-left:8px;}
li.menu a{font-size:14px;font-weight:bold;}
ul.sub_menu li{width:100px; line-height:30px;background:url(../images/ucenter/list_icon.png)  0px 9px no-repeat;padding-left:20px;}
ul.sub_menu li a{font-size:12px;font-weight:normal;margin-left:0; display:block; position:relative;top:0px; left:-30px; width:118px; padding-left:30px;}
ul.sub_menu li a.on{ border-left:2px solid #ff6b23; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-right:1px solid #fff; text-decoration:underline;}
li.open ul{display:block;}
li.close ul{display:none;}

.cont_rt{ width:947px; border:1px solid #dddddd;height:auto; border-left:none; min-height:500px;}
.index_rt_top{ height:120px; width:900px; padding:10px; border:1px solid #dddddd; margin-bottom:10px;}
.shop_top_lt,.shop_top_rt{ height:120px; max-width:300px; overflow:hidden;padding-left:20px;}
.shop_top_rt_fresh{ width:140px;}
.shop_top_lt p{  }
.shop_top_lt p.title{ padding-bottom:10px;}
font.shop_top_lt_icon{ width:90px; height:20px; background:url(../images/ucenter/ico2.png) 0px 0px no-repeat;}
font.shop_top_rt_icon{width:93px; height:20px; background:url(../images/ucenter/ico2.png) 0px -18px no-repeat;}
.index_cont_lt{ width:655px;}
.index_c_lt{ width:633px; padding:10px; min-height:140px; border:1px solid #dddddd; margin-bottom:10px;}
.index_cont_rt{ width:250px;}
.index_c_rt{ width:228px; padding:10px; border:1px solid #dddddd; margin-bottom:10px;}
.index_c_lt p.title,.index_c_rt p.title{ border-bottom:1px solid #dddddd; line-height:24px;}
.index_c_lt p.txt,.index_c_rt p.txt{ line-height:24px;margin:8px auto;}
.index_c_lt p a{ margin-right:20px;}
font.index_c_lt_icon1{height:20px; width:10px; background:url(../images/ucenter/ico.png) -6px -76px no-repeat;padding-left:8px;}
font.index_c_lt_icon2{height:20px; width:10px; background:url(../images/ucenter/ico.png) -6px -51px no-repeat;padding-left:8px;}
font.index_c_lt_icon3{height:20px; width:10px; background:url(../images/ucenter/ico.png) -33px -76px no-repeat;padding-left:8px;}
font.index_c_rt_icon1{height:20px; width:10px; background:url(../images/ucenter/ico.png) -6px -98px no-repeat;padding-left:8px;}
font.index_c_rt_icon2{height:20px; width:10px; background:url(../images/ucenter/ico.png) -33px -96px no-repeat;padding-left:8px;}

.footer{ width:1100px; margin:0px auto; text-align:center; padding:20px 0px;}
.footer p a{ margin-right:15px;}

/**个人中心首页样式**/
.personal_top_rt{ margin-top:30px;}
/**个人中心首页样式**

/**更换头像页面样式**/
.change_rt{ padding:0px;width:947px; height:auto; min-height:692px;}
ul.change_rt_top{ background:#fafafa; height:40px; width:947px; border-bottom:1px solid #dddddd;}
ul.change_rt_top li{ width:84px; height:35px; margin:5px 5px 0px 10px; float:left; text-align:center; line-height:35px;}
ul.change_rt_top li a{ display:block;}
ul.change_rt_top li a.on{ background:#fff; border:1px solid #dddddd; border-bottom:none;border-radius:5px 5px 0px 0px;}
.change_rt_cont{ margin:30px 20px;}
.change_rt_cont p a{ margin-right:20px;}
.change_rt_cont p.txt{ color:#aaa;}
.change_rt_photo{ margin:20px 0px; height:295px;}
.change_rt_photo_lt,.change_rt_photo_rt{ height:295px; width:400px; float:left;}
.change_rt_photo_lt a,.change_rt_photo_lt input{ float:left;}
.change_rt_photo_lt input{ margin-left:30px; width:22px; height:18px; vertical-align:middle;}
.change_rt_cont p.p_bg{ height:45px; background:#f3f3f3; text-align:center;}
.change_rt_cont p.p_bg a{ display:inline-block; width:80px; height:28px;line-height:28px; margin-top:10px; color:#fff;}
.change_rt_cont p.p_bg a.yes{ background:url(../images/ucenter/change_button3.png) no-repeat;}
.change_rt_cont p.p_bg a.no{ background:url(../images/ucenter/change_button4.png) no-repeat;}
.change_rt_cont p.p_bg a:hover,ul.change_rt_top li a:hover{ text-decoration:none;}
/**更换头像页面样式**/

@charset "UTF-8";
/* CSS Document */
/* by 江湖游医 */
body{overflow-y:scroll;}
.ucenter_warp{width:1100px;margin:0 auto;}
.ucenter_lay{width:1098px;height:auto;border:1px solid #D5D5D5;margin-top:10px;overflow:hidden;}
.ucenter_lay_r{width:948px;float: left; display: inline;background: #FFF;}
.ucenter_c{width:928px;min-height:600px;margin:10px auto;}
.ucenter_c table.form th{text-align:right;width:120px;height:35px;padding-right:5px;}
.ucenter_c table.form,.ucenter_c table.table{width:100%;}
.ucenter_t{width:100%;height:39px;line-height:39px;border-bottom:1px solid #D5D5D5;background:#F3F3F3;}
.ucenter_t ul{margin-left:15px;}
.ucenter_t ul li{float:left;min-width:60px;height:34px;font-size:14px;color:#666;margin-top:5px;line-height:34px;text-align:center;padding-right:8px;padding-left:8px;margin-right:8px;}
.ucenter_t ul li.on{border-radius:4px 4px 0 0;background:#FFFFFF;border:1px solid #D5D5D5;border-bottom:none;}
.ucenter_t ul li a{color:#666;}
.ucenter_t .r{float:right;margin-right:10px;}
.ucenter_lay .personal_menu .on{border-left:2px solid #FD6596;background:#FFF;border-top:1px solid #D5D5D5;border-bottom:1px solid #D5D5D5;width:148px;height:28px;line-height:28px;}
.ucenter_t .r .btn-sm{ background:#ff4400; height:30px; margin-top:5px; line-height:30px; padding:0px 10px;}
.w1100{width:1100px;margin: 0 auto;zoom: 1;}
.tip-commont{font-size:12px;color: #999;margin-left: 10px;line-height: 20px;}
.table .btn_pay, .table .btn_ship, .table .btn_cancel, .table .btn_pay{
	margin:2px 5px;
	display: inline-block;
	padding: 2px 10px;
	text-align: center;
	font-weight: bold;
	color: #fff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #f37f1f;
	text-decoration: none;
}
.table a.btn_pay, .table .btn_ship, .table a.btn_cancel{text-decoration: none;}
.table .btn_ship{background:#4273c5;}
.table .btn_cancel{background:#F5F5F5;border:1px solid #DDD;color:#666 !important;}

.order_table{border:none;}
.order_table a {color: #36c;text-decoration: none;}
.order_table a:hover {color: #f60;text-decoration: underline;}
.order_table td{border-bottom:1px solid #DDDDDD;}
.order_table .tbody{border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;}
.order_table .th td{background:#F5F5F5;border: 1px solid #DDDDDD;height:30px;}
.order_table .td td{vertical-align:top;padding:5px;}
.order_table .th .no, .order_table .th .time, .order_table .th .shop, .order_table .th .order{display:inline;margin:0 10px;}
.order_table .th .order{float:right;margin-right:15px;}
.order_table td.order-product{border-left:1px solid #DDDDDD;}
.order_table .td .pay-status{border-left:1px solid #DDDDDD;width:150px;text-align:center; padding-top:10px;}
.order_table .td .order-status{border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;text-align:center;padding-top:10px;}
.order_talbe .td .label{color:gray;display:inline-block;}
.order_table .btn_pay, .order_table .btn_ship, .order_table .btn_cancel{
	margin:2px 5px;
	display: inline-block;
	padding: 2px 10px;
	text-align: center;
	font-weight: bold;
	color: #fff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #f37f1f;
	text-decoration: none;
}
.order_table a.btn_pay, a.order_table .btn_ship, .order_table a.btn_cancel{text-decoration: none;}
.order_table .btn_ship{background:#4273c5;}
.order_table .btn_cancel{background:#F5F5F5;border:1px solid #DDD;color:#666 !important;}

.ucenter_c table .input,.ucenter_c table .select{padding:2px 5px;height:25px;line-height:15px;}


.page strong, .page a:hover{background: #67A727;}
table.info_ch tr td{ width:320px;}
/* 我的装修保样式开始*/
.ucenter_bao_box{ border:1px solid #ddd; padding:10px; margin-bottom:10px;}
.ucenter_bao_box p.title{ overflow:hidden; border-bottom:1px solid #ddd;}
.ucenter_bao_box p.title a{ margin-left:5px; display:inline-block; border:1px solid #fc771f; color:#fc771f; padding:0px 5px; margin-bottom:3px; border-radius:2px;}
/*.ucenter_ico{ display:inline-block; background:url(../images/ucenter/ucenter_ico.png) no-repeat; width:35px; height:27px; vertical-align:middle;}
.ucenter_ico2{ background-position:-36px 0px;}
.ucenter_ico3{ background-position:-72px 0px;}*/
.zxbflowbar{ width:100%;}
.zxbflowbar ul li{ float:left; width:110px; text-align:center; display:inline; font-size:14px; line-height:33px;}
.zxbflowbar ul li span{ width:120px; height:33px; line-height:33px; background:url(../images/ucenter/flow3.jpg) center center no-repeat; display:block; color:#fff; text-align:center; cursor:pointer; font-size:14px; font-weight:bold;}
.zxbflowbar ul li span a{ color:#fff;}
.zxbflowbar ul li span a:hover{ text-decoration:none;}
.zxbflowbar  ul li .no{ background:url(../images/ucenter/flow1.jpg) no-repeat center center;}
.zxbflowbar ul li .sel{background:url(../images/ucenter/flow2.jpg) no-repeat center center;}
.zxbflowbar_bt{ margin-left:5px;}
.zxbflowbar_bt .zxbips{ float:left; width:110px;}
.zxbflowbar_bt .zxbips div.tit{ background:url(../images/ucenter/ktopbg1.jpg) center top no-repeat; height:9px; margin-top:5px;}
.zxbflowbar_bt .zxbips .con{ border:1px solid #11a21e; padding:5px; border-top:none; background:#fffcdd;}
.ucenter_zxlc ul{ overflow:hidden; width:100%;}
.ucenter_zxlc ul li{ padding:5px; border:1px solid #ddd; float:left; margin-top:10px; width:435px; height:60px;}
.ucenter_zxlc ul li.lt{ float:left;}
.ucenter_zxlc ul li.rt{ float:right;}
.ucenter_zxlc ul li .pic{ width:61px; height:60px; background:url(../images/ucenter/f-icon3.png) no-repeat;}
.ucenter_zxlc ul li .pic2{ background-position:-63px 0px;}
.ucenter_zxlc ul li .pic3{ background-position:-126px 0px;}
.ucenter_zxlc ul li .pic4{ background-position:-189px 0px;}
.ucenter_zxlc ul li .pic5{ background-position:0px -61px;}
.ucenter_zxlc ul li .pic6{ background-position:-63px -61px;}
.ucenter_zxlc ul li .pic7{ background-position:-126px -61px;}
.ucenter_zxlc ul li .pic8{ background-position:-189px -61px;}
.ucenter_zxlc ul li p{ width:360px;}
.ucenter_zxlc ul li p.tit,.ucenter_zxlc ul li p.tit a{ font-weight:bold; color:#488e01; font-size:14px; line-height:30px;}
.ucenter_zxb_rz{ margin:10px 0px; border:1px solid #ddd; overflow:hidden;}
.ucenter_zxb_rz li{ float:left; padding:5px;}
.renz_ico{ display:inline-block; width:84px; height:84px; background:url(../images/ucenter/renz.jpg) no-repeat; vertical-align:middle;}
.renz_ico1{ background-position:0px 0px;}
.renz_ico2{ background-position:-84px 0px;}
.renz_ico3{ background-position:-168px 0px;}
.renz_no_ico1{ background-position:0px -84px;}
.renz_no_ico2{ background-position:-84px -84px;}
.renz_no_ico3{ background-position:-168px -84px;}
/* 我的装修保样式结束*/


/* 发布商品-属性 */
.spec-bg { background-color: #F8FCFE;}
.spec{ }
.spec li { float:left; width:25%; margin-bottom:6px; height: 24px;}
.spec li span { float: left; margin-right:6px;}
.spec li span.checkbox { height: 12px; margin-top:6px; margin-bottom:6px;}
.spec li span.img { width:16px; height: 16px; padding:1px; margin-top: 3px; margin-bottom: 3px; border: solid 1px #D8D8D8;}
.spec-img {width:30px; height: 30px; padding:1px; margin-top: 3px; margin-bottom: 3px; border: solid 1px #D8D8D8;}
.spec li span.pvname { margin-top: 2px; margin-bottom: 2px; line-height: 20px;}
.spec_table { border:solid #A7CAED 1px; padding:0; margin:10px; background-color: #FFF; box-shadow: 2px 2px 2px rgba(0,0,0,0.2)}
.ucenter_c table.spec_table th { background: #D3E5F3; font-weight: 700; border-top:solid #FFF 1px; line-height: 24px; padding: 2px 12px; text-align:left;height:25px;}
.spec_table tbody td { border-top :solid #D3E5F3 1px; padding: 2px 10px; margin: 0; height:32px;}
.spec_table tbody td span { float: left; margin-right:6px; color: #777;}
.spec_table tbody td span.img { width:16px; height: 16px; padding:1px; margin-top: 6px; margin-bottom: 6px; border: solid 1px #D8D8D8;}
.spec_table tbody td span.pvname { margin-top: 6px; margin-bottom: 6px; line-height: 20px;}

p.refresh{ background:#f8f8f8; border:1px solid #eee; padding:5px;}
p.refresh a{ display:block; text-align:center; height:26px; line-height:26px; background:#FE7902; color:#fff !important; border:1px solid #ff6600; font-size:14px; border-radius:3px;}
p.refresh a:hover{ background:#ff6600; text-decoration:none;}
p.refresh span{ line-height:26px; color:red;}
p.de_refresh a{ display:inline-block; width:200px;}
p.de_refresh span{ margin-left:10px;}
.template_list li img{ border:1px solid #e0e0e0;}

.alert{ padding:10px;}
.alert-info{ border-left:2px solid #67a727; background:#d7ecc2;}
.btn-primary{ background:#ff4400; padding:5px 10px; border:none; border-radius:3px;}

.cardYan{ margin:10px; padding:10px; background:#fafafa; border:1px solid #f0f0f0;}
.cardYan .btn{ width:100px; background:#ff6b23; height:32px; margin-left:10px;}
.cardYan .text{ width:300px;}
.index_all{border:1px solid #dddddd; padding:10px; margin-bottom:10px; font-family:"微软雅黑" !important;}

/*商家管理中心样式*/
li.menu font.sel_menu_open_icon{ background:url(../images/ucenter/scenterico.png)  -33px -27px no-repeat;}
font.sel_index_c_lt_icon1{height:20px; width:10px; background:url(../images/ucenter/scenterico.png) -6px -76px no-repeat;padding-left:8px;}
font.sel_index_c_lt_icon2{height:20px; width:10px; background:url(../images/ucenter/scenterico.png) -6px -51px no-repeat;padding-left:8px;}
font.sel_index_c_lt_icon3{height:20px; width:10px; background:url(../images/ucenter/scenterico.png) -33px -76px no-repeat;padding-left:8px;}
font.sel_index_c_rt_icon1{height:20px; width:10px; background:url(../images/ucenter/scenterico.png) -6px -98px no-repeat;padding-left:8px;}
font.sel_index_c_rt_icon2{height:20px; width:10px; background:url(../images/ucenter/scenterico.png) -33px -96px no-repeat;padding-left:8px;}


/*服务商管理中心样式*/
li.menu font.facil_menu_open_icon{ background:url(../images/ucenter/dcenterrico.png)  -33px -27px no-repeat;}
font.facil_index_c_lt_icon1{height:20px; width:10px; background:url(../images/ucenter/dcenterrico.png) -6px -76px no-repeat;padding-left:8px;}
font.facil_index_c_lt_icon2{height:20px; width:10px; background:url(../images/ucenter/dcenterrico.png) -6px -51px no-repeat;padding-left:8px;}
font.facil_index_c_lt_icon3{height:20px; width:10px; background:url(../images/ucenter/dcenterrico.png) -33px -76px no-repeat;padding-left:8px;}
font.sel_index_c_rt_icon1{height:20px; width:10px; background:url(../images/ucenter/dcenterrico.png) -6px -98px no-repeat;padding-left:8px;}
font.sel_index_c_rt_icon2{height:20px; width:10px; background:url(../images/ucenter/dcenterrico.png) -33px -96px no-repeat;padding-left:8px;}

.change_wd a{ display:inline-block; height:30px; line-height:30px; margin-top:10px; margin-right:20px; background:#feeacb; border-radius:3px; border:1px solid #ffd699; padding:0px 10px;}