.impowerBox .qrcode{width:220px;margin-top: 15px;border: 1px solid #E2E2E2;}
.impowerBox .title{display:none;}
.impowerBox .info {width:240px;}
.status_icon {display:none;}
.impowerBox .status {text-align: center;} 