/*公共样式--开始*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

input,
textarea {
	outline: none;
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	text-align: left;
}

.tc {
	text-align: center
}

.tr {
	text-align: right;
}

.ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.clear {
	clear: both;
}


/*主体内容*/

.troduce {
	width: 1200px;
	margin: 0 auto;
}

.troduce .top ul {
	width: 100%;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.troduce .top ul li {
	display: inline-block;
}

.troduce .top ul li a {
	display: inline-block;
	font-size: 18px;
	height: 60px;
	line-height: 80px;
	padding: 0 30px;
}

.troduce .top ul li:hover a {
	color: red;
	border-bottom: 2px solid #ff3d3d;
	margin-bottom: -1px;
	background: rgba(255, 0, 0, 0);
}

.js h3,
.zz h3,
.lx h3 {
	font-size: 22px;
	font-weight: normal;
	line-height: 50px;
	margin-bottom: 10px;
}

.js .text {
	text-indent: 2em;
	color: #666;
	margin-bottom: 10px;
}

.tab ul li {
	overflow: hidden;
	margin: 0!important;
	border: 1px solid #e5e5e5;
}

.tab ul li:nth-child(1),
.tab ul li:nth-child(2) {
	border-bottom: none;
}

.tab ul li strong {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	font-weight: normal;
	background: #f5f5f5;
}

.tab ul li span {
	display: block;
	float: right;
	width: 1040px;
	color: #666;
	height: 50px;
	line-height: 50px;
}

.zz,
.lx {
	margin-top: 40px;
}

.zz ul {
	overflow: hidden;
}

.zz ul li {
	width: 24%;
	float: left;
	margin-right: 1.3333%;
	margin-bottom: 15px;
}

.zz ul li:nth-child(4n) {
	margin-right: 0;
}

.zz ul li img {
	width: 100%;
}

.lx p {
	text-indent: 2em;
	color: #666;
	margin-bottom: 10px;
}
