/*公共样式--开始*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

input,
textarea {
	outline: none;
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	text-align: left;
}

.tc {
	text-align: center
}

.tr {
	text-align: right;
}

.ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.clear {
	clear: both;
}


/*主体内容*/

.gsteam {
	width: 1200px;
	margin: 0 auto;
}

.gsteam_box {
	width: 100%;
	margin-top: 10px;
}

.gsteam_box ul {
	overflow: hidden;
}

.gsteam_box ul li {
	float: left;
	width: 24%;
	margin-right: 1.3333%;
	position: relative;
	margin-bottom: 20px;
}

.gsteam_box ul li:nth-child(4n) {
	margin-right: 0;
}

.gsteam_box ul li .pic {
	width: 100%;
	height: 240px;
	overflow: hidden;
	position: relative;
}

.gsteam_box ul li .pic img {
	width: 100%;
	height: 100%;
	display: inline;
}

.gsteam_box ul li .pic .shade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);
	z-index: 3;
}

.gsteam_box ul li .txt_box {
	background: #fff;
	border: 1px solid #eee;
	padding: 50px 15px 15px;
	overflow: hidden;
}

.gsteam_box ul li .txt_box .txt {
	float: left;
	color: #666;
	width: 150px;
}

.gsteam_box ul li .txt_box .txt p {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.gsteam_box ul li .txt_box .txt p span {
	margin-right: 5px;
}

.gsteam_box ul li .txt_box .order {
	display: block;
	float: right;
	color: #fff;
	background: #d6162d;
	width: 90px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
}

.gsteam_box ul li .txt_box .order:hover {
	background: #a81123;
}

.gsteam_box ul li .ptn_name {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 9;
}

.gsteam_box ul li .ptn_name span {
	display: block;
	margin-bottom: 10px;
}

.gsteam_box ul li .ptn_name strong {
	display: block;
	font-size: 30px;
}

.gsteam_box ul li .ptn_name strong a {
	color: #fff;
}

.gsteam_box ul li .ptn_name strong a:hover {
	color: #e62e35;
}

.gsteam_box ul li .hd_pt {
	position: absolute;
	top: 180px;
	left: 0;
	width: 100%;
	z-index: 9;
	text-align: center;
}

.gsteam_box ul li .hd_pt img {
	width: 93px;
	height: 93px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #cccecf;
}

.gsteam_box ul li .ptn_num {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .5);
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-weight: normal;
	visibility: hidden;
}

.gsteam_box ul li:hover .ptn_num {
	visibility: visible;
}
