/*公共样式--开始*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

input,
textarea {
	outline: none;
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	text-align: left;
}

.tc {
	text-align: center
}

.tr {
	text-align: right;
}

.ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.clear {
	clear: both;
}


/*主体内容*/

.gsxq_zx {
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}

.gsxq_zx ul {
	width: 100%;
}

.gsxq_zx ul li {
	border-bottom: 1px #eee solid;
	zoom: 1;
	overflow: hidden;
	padding: 30px 20px;
	clear: both;
}

.gsxq_zx ul li a img {
	display: block;
	width: 200px;
	height: 140px;
	float: left;
	margin-right: 20px;
}

.gsxq_zx ul li .txt {
	float: left;
	width: 830px;
	height: 140px;
	overflow: hidden;
}

.gsxq_zx ul li .txt h3 {
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 10px;
}

.gsxq_zx ul li .txt p {
	color: #999;
	font-size: 14px;
	line-height: 22px;
}

.gsxq_zx ul li .date {
	float: right;
	color: #999;
	width: 100px;
}

.gsxq_zx ul li .date strong {
	font-weight: normal;
	display: block;
	font-size: 20px;
	line-height: 36px;
}
