<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="home/home:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<{if $pager.target == 'dialog'}>
<form action="?home/home-dialog.html&MINI=LoadIframe" id="SO-form" method="post">
<input type="hidden" name="multi" value="<{$pager.multi}>" />
<{else}>
<form action="?home/home-index.html" id="SO-form" method="post">
<{/if}>
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr><th>ID：</th><td><input type="text" name="SO[id]" value="<{$detail.id}>" class="input w-100"/></td></tr>
    <tr><th class="w-100">城市：</th>
        <td>
            <label>城市:<select name="SO[city_id]" class="w-100"><option value="0">请选择</option><{widget id="data/city" value=$detail.city_id}></select></label>
            <label>地区:<select name="SO[area_id]" class="w-100"><option value="0">请选择</option><{widget id="data/area" value=$detail.area_id city_id=$detail.city_id}></select></label>
        </td>
    </tr>
    <tr><th>小区名称：</th><td><input type="text" name="SO[title]" value="<{$detail.title}>" class="input w-300"/></td></tr>
    <tr><th>联系电话：</th><td><input type="text" name="SO[phome]" value="<{$detail.phome}>" class="input w-300"/></td></tr>
    <tr><th>开发商：</th><td><input type="text" name="SO[kfs]" value="<{$detail.kfs}>" class="input w-300"/></td></tr>   
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="搜 索" /></td></tr>
</table>
</form></div>
<script type="text/javascript">
(function(K, $){
$("select[name='SO[city_id]']").live('change', function(){
	var city_id = $(this).val();
	if(!city_id){return false;}
	$.getJSON("?data/area-city-"+city_id+".html", function(ret){
		if(ret.error){
			//Widget.MsgBox.error(ret.message.join(","));
		}else if(ret.areas.length>0){
			var html = "<option value=\"0\">请选择</option>";
			for(var i=0; i<ret.areas.length; i++){
				html += '<option value="'+ret.areas[i].area_id+'">'+ret.areas[i].area_name+'</option>';
			}
			$("select[name='SO[area_id]']").html(html);		
		}else{
			$("select[name='SO[area_id]']").html('<option value="">--</option>');
		}
	});
});
})(window.KT, window.jQuery);
</script>

<{include file="admin:common/footer.html"}>