<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<{include file="admin:config/payment_config_tabs.html"}>    
<form action="?system/config-alipay.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="alipay" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr><th>PID：</th><td><input type="text" name="config[pid]" value="<{$config.pid|default:''}>" class="input w-300"/><span class="tip-comment">支付宝签约的商户号</span></td></tr>
<tr><th>KEY：</th><td><input type="password" name="config[key]" value="<{$config.key|default:''}>" class="input w-300"/><span class="tip-comment">支付宝签约的商户KEY</span></td></tr>
<tr><th class="w-100">接口类型：</th>
    <td>
        <select name="config[type]">
            
            <option <{if !empty($config.type)&&$config.type==1}> selected="selected" <{/if}> value="1">即时到帐</option>
            
            <option <{if !empty($config.type)&&$config.type==2}> selected="selected" <{/if}>  value="2">标准双接口</option>
            
        </select>
        <span class="tip-comment">支付接口类型</span>
    </td>
</tr>
<tr>
    <th>卖家账号：</th>
    <td><input type="text" name="config[sell]" value="<{$config.sell|default:''}>" class="input w-300"/><span class="tip-comment">卖家账号</span></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>