<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<h4 class="tip-notice">评论设置</h4>
<form action="?system/config-access.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="comment" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>文章模块：</th>
    <td><select name="config[article_type]">
            <option value="closed" <{if $config.article_type == 'closed'}>selected<{/if}>>关闭评论</option>
            <option value="comment" <{if $config.article_type == 'comment'}>selected<{/if}>>站内评论</option>
            <option value="sns" <{if $config.article_type == 'sns'}>selected<{/if}>>社会化评论框</option>
        </select>
    </td>
</tr>
<tr><th>装修案例：</th>
    <td><select name="config[case_type]">
            <option value="closed" <{if $config.case_type == 'closed'}>selected<{/if}>>关闭评论</option>
            <option value="comment" <{if $config.case_type == 'comment'}>selected<{/if}>>站内评论</option>
            <option value="sns" <{if $config.case_type == 'sns'}>selected<{/if}>>社会化评论框</option>
        </select>
    </td>
</tr>
<tr><th>装修日记：</th>
    <td><select name="config[diary_type]">
            <option value="closed" <{if $config.diary_type == 'closed'}>selected<{/if}>>关闭评论</option>
            <option value="comment" <{if $config.diary_type == 'comment'}>selected<{/if}>>站内评论</option>
            <option value="sns" <{if $config.diary_type == 'sns'}>selected<{/if}>>社会化评论框</option>
        </select>
    </td>
</tr>
<tr><th>社会化评论框：</th><td>
        <textarea name="config[snscomment]" class="textarea"><{$config.snscomment}></textarea><br />
        <p class="tip-comment" >影响有：文章评论、装修案例、装修日记</p>
        <p class="tip-comment" >目前支持:
            <b style="font-weight:bold;color:red;"> 
            <a href="http://duoshuo.com/" target="_blank">多说</a>、
            <a href="http://www.ujian.cc/" target="_blank">友言</a>、
            <a href="http://changyan.sohu.com/" target="_blank">畅言</a>、
            <a href="http://open.weibo.com/widget/comments.php" target="_blank">微博</a>
        </b>
        </p>
    </td>
</tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<script type="text/javascript">
(function(K, $){
    $("input[name='config[closed]']").on('click', function(){
        if($(this).val() == 1){
            $("#tr_closed_reason").show();
        }else{
            $("#tr_closed_reason").hide();
        }
    });
})(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>