@charset "utf-8";
/* CSS Document */
.zh-article-ad{
	width: 1200px;
	margin: 0 auto;
	margin-bottom:30px;
}
.side_content{
	float: left;
	width: 290px;
}
ul.article_list{
	margin-top: 20px;
}
.zbform{
	background: #fbfbfb url(../images/zh-form-bg.png) no-repeat center bottom;
}
.pding{
	padding: 0;
}
.zbform h2,.zbform p,.zbform input, .zbform select{
	color: #000;
}
.zbform h5{
	color: #888;
	font-weight: 100;
}
.cont_item_rt ul{
	background-color: #fafafa;
}
.zh-side-list{
	width: 840px;
	float: right;
}
.zh-side-list>h2{
	height: 42px;
	line-height: 42px;
	padding-left: 15px;
	background-color: #f8f8f8;
}
.zh-side-list>h2>span{
	font-size: 18px;
	float: left;
}
.zh-side-list>h2>div{
	float: right;
}
.zh-side-list>h2>div>a{
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	float: left;
	display: inline-block;
	margin-top: 8px;
	padding: 3px 12px;
}
.zh-side-list>h2>div>a:hover{
	background-color: #ff4401;
	color: #fff;
}
.zh-side-list>ul>li{
	padding: 25px 0;
	border-bottom: 1px dashed #666;
	padding-bottom: 15px;
}
.zh-side-list>ul>li:hover{
	background-color: #f8f8f8;
}
.zh-side-list>ul>li img{
	width: 186px;
	height: 140px;
	float: left;
	margin-right: 20px;
}
.zh-side-list>ul>li a.zh-article-title{
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	display: inline-block;
}
.zh-side-list>ul>li a:hover{
	color: #ff4401;
}
.zh-side-list>ul>li p{
	line-height: 26px;
	color: #666;
	height: 86px;
	font-size: 16px;
	width: 822px;
}
.zh-side-list>ul>li p a{
	color:#888;
}
.zh-side-list>ul>li span{
	height: 21px;
	line-height: 14px;
	color: #666;
	font-size: 14px;
}
.zh-side-list>ul>li span.zh-view-time{
	padding-left: 18px;
	margin-left: 60px;
	background: url(../images/see_time.png) no-repeat 0 3px;
}















