@charset "utf-8";
/*global a cursor hand*/
a{cursor:pointer;cursor:hand;}

/*MessageBox*/
#MessageBox {position:absolute;/*visibility:hidden;*/display:none;width:auto;/*opacity:0;*/z-index:65535;padding:7px 10px; margin-bottom: 1em; border: 2px solid #ddd;border-radius: 2px; background:#FFF; text-align:center;}
#MessageBox h4{ margin:0;text-align:left; float:left; font-size:12px; margin-left:10px;margin-top:3px;}

/*#MessageBox.error{ background: #fff7f5; color: #FF3300; border-color: #f6d6c1; }*/
#MessageBox.error{ background: #fff7f5; color: #ff6767; border-color: #f6d6c1; }
#MessageBox.notice{ background: #fbfaee; color: #f48c12; border-color: #fcedb1; }
#MessageBox.note{ background: #fbfaee; color: #f48c12; border-color: #fcedb1;}
#MessageBox.success{ background:#fcfdf3; color:#333333; border-color: #D3E399; }
#MessageBox.load{ background:#fcfdf3; color:#333333; border-color: #D3E399; }

/*设置不同提示信息内的链接的样式*/
#MessageBox.error a    { color: #8a1f11; }
#MessageBox.notice a   { color: #514721; }
#MessageBox.note a     { color: #000; text-decoration:none;  }
#MessageBox.success a  { color: #264409; }

/*带图标的提示信息样式*/
#MessageBox .icon { width:16px; height:16px; line-height:16px; margin-top:3px; display:inline-block;background:no-repeat left center; float:left }
/*#MessageBox.error .icon   { background: url(../images/error-small.gif); }*/
#MessageBox.error .icon   { background: url(../images/error-small.png); }
#MessageBox.notice .icon  { background: url(../images/notice-small.gif); }
#MessageBox.note .icon    { background: url(../images/note-small.gif); }
#MessageBox.success .icon { background: url(../images/success-small.gif); }
#MessageBox.load .icon {background: url(../images/load-small.gif);}

.transparent{filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}

/*////小的弹出层样式////*/
#NoticeBox{ border:1px #989898 solid; background:#fff; text-align:center; position:relative; padding:5px 10px;  margin:0px auto;}
#NoticeBox.icon{background: url(../images/layer_bg.gif) no-repeat;width:14px; height:14px; display:inline-block; vertical-align: middle;}
#NoticeBox.succeed .icon{ background-position:-44px 2px;}
#NoticeBox.error .icon{ background-position:-24px 2px;}
#NoticeBox.la_jt{background: url(../images/layer_bg.gif) no-repeat;background-position:0px 0px; width:14px; height:14px;  vertical-align: middle; position:absolute; left:50%; bottom:-13px;}

/* score 星星*/
.scorewx, .scorewx em, .starswx, .starswx em{background: url(../images/score_bg.png) no-repeat;display:inline-block;}
.scorewx{background-position:0 -61px;width:138px;height:23px;}
.scorewx em{background-position:0 -91px;width:138px;height:23px;}
.starswx{background-position:0 0;width:92px;height:17px;}
.starswx em{background-position:0 -32px;width:92px;height:17px;}
.starwx,starwx em{}
.starwx{background: url(../images/wx2t.jpg) no-repeat top left;display:inline-block;width: 104px;height: 19px;}
.starwx em{background: url(../images/wx2b.jpg) no-repeat top left;display:inline-block;height:19px;line-height:19px;float:left;}

/* 认证 */
.rz_user{background: url(../images/rz_member.jpg) no-repeat top left;display:inline-block;width: 47px;height: 24px;}
.rz_shop{background: url(../images/rz_member.jpg) no-repeat top left;display:inline-block;width: 47px;height: 24px;}
.rz_user_v{background: url(../images/rz_member.jpg) no-repeat top left;display:inline-block;width: 47px;height: 24px;}
.rz_shop_v{background: url(../images/rz_member.jpg) no-repeat top left;display:inline-block;width: 47px;height: 24px;}
.rz_v_hy,.rz_v_qy{background: url(../images/rz_v.png);width: 16px;height: 14px;margin-left: 2px;vertical-align: text-bottom;display:inline-block;}
.rz_v_hy{background-position: -50px 0px;}
.rz_v_qy{background-position: -75px 0px;}
/* Taoke */
.taobao_credit {display:inline-block;}
.taobao_credit span{float: left; width: 95px; height: 18px;}
.taobao_credit .rank_0 { background: url(../images/level_0.gif) no-repeat 0 0; }
.taobao_credit .rank_1 { background: url(../images/level_1.gif) no-repeat 0 0; }
.taobao_credit .rank_2 { background: url(../images/level_2.gif) no-repeat 0 0; }
.taobao_credit .rank_3 { background: url(../images/level_3.gif) no-repeat 0 0; }
.taobao_credit .rank_4 { background: url(../images/level_4.gif) no-repeat 0 0; }
.taobao_credit .rank_5 { background: url(../images/level_5.gif) no-repeat 0 0; }
.taobao_credit .rank_6 { background: url(../images/level_6.gif) no-repeat 0 0; }
.taobao_credit .rank_7 { background: url(../images/level_7.gif) no-repeat 0 0; }
.taobao_credit .rank_8 { background: url(../images/level_8.gif) no-repeat 0 0; }
.taobao_credit .rank_9 { background: url(../images/level_9.gif) no-repeat 0 0; }
.taobao_credit .rank_10 { background: url(../images/level_10.gif) no-repeat 0 0; }
.taobao_credit .rank_11 { background: url(../images/level_11.gif) no-repeat 0 0; }
.taobao_credit .rank_12 { background: url(../images/level_12.gif) no-repeat 0 0; }
.taobao_credit .rank_13 { background: url(../images/level_13.gif) no-repeat 0 0; }
.taobao_credit .rank_14 { background: url(../images/level_14.gif) no-repeat 0 0; }
.taobao_credit .rank_15 { background: url(../images/level_15.gif) no-repeat 0 0; }
.taobao_credit .rank_16 { background: url(../images/level_16.gif) no-repeat 0 0; }
.taobao_credit .rank_17 { background: url(../images/level_17.gif) no-repeat 0 0; }
.taobao_credit .rank_18 { background: url(../images/level_18.gif) no-repeat 0 0; }
.taobao_credit .rank_19 { background: url(../images/level_19.gif) no-repeat 0 0; }
.taobao_credit .rank_20 { background: url(../images/level_20.gif) no-repeat 0 0; }
/* uploading */
.SWF_Widget{display:block;height:25px;line-height:25px;};
.SWF_Loading{ width:300px; height:12px; display: inline-block; border:1px solid #dea303; margin:5px 10px 5px 0;}
.SWF_Loading em{ width:100%; height:12px; display:inline-block; background:url(../images/swf_uploading.png) repeat-x;}

/* swfupload progress*/
.SWF_Loading {width:300px; height:12px; line-height:12px; display: inline-block; border:1px solid #dea303; margin:5px 10px 5px 0;}
.SWF_Loading em { width:100%; height:12px; display:inline-block; background:url(../images/swf_uploading.png) repeat-x;}
.SWF_Loading span{height:12px;line-height:12px;}



/* jquery.treeTable.collapsible
 * ------------------------------------------------------------------------- */
.treeTable tr td .expander {background-position: left center; background-repeat: no-repeat; cursor: pointer; padding: 0; zoom: 1;}
.treeTable tr.collapsed td .expander {background-image: url(../images/tv-expandable.gif);}
.treeTable tr.expanded td .expander {background-image: url(../images/tv-collapsable.gif);}

/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {border: 1px solid #888; margin:-4px; background:#fff; _background:none; cursor:move;}
/* This is for the title text. */
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif; position:absolute !important;	background-color:#000; color:#fff;	padding:3px; width:100%; text-align:center; font-weight:bold; font-size:10px; top:0px;}
/* This is the zoom window. */
.cloud-zoom-big {border:1px solid #ccc;	overflow:hidden;}
/* This is the loading message. */
.cloud-zoom-loading {color:white; background:#222; padding:3px;	border:1px solid #000;}

.page{float:right;text-align:center;padding:8px 10px; margin:5px auto;height:26px;line-height:26px;margin-left:20px;}
.page a,.page em{display: inline-block;width: auto;height: 20px;margin: 0 3px;padding: 0 6px;line-height: 21px;border: 1px solid #DDD;text-align: center;vertical-align: middle;background: #FFF;color:#666;}
.page a:hover{background:#0a9261;color:#FFF;text-decoration:none;}
.page strong{display: inline-block;width: auto;height: 20px;margin: 0 3px;padding: 0 6px;line-height: 21px;background: #0a9261;border: 1px solid #FFF;cursor: pointer;vertical-align: middle;color: #FFF;}
.page a.nolbor{	border-left:0px;}
.page a.teshu{color:#808080;}
.page a.dqpage{	background:#E6E6E6;}

.citynav-menu{width: 500px;height: auto;overflow: hidden;z-index:10;padding: 5px;border: 1px solid #ddd;background: #fff;box-shadow: 1px 1px 2px #999;color: #444;position: absolute;}
.citynav-menu .py{width: 100%;height: auto;overflow: hidden;min-height: 30px;line-height: 25px;margin:5px;}
.citynav-menu .py b{font-size: 14px;font-weight: bold;height: 25px;width: 25px;text-align: center;line-height: 25px;background: #d5d6d5;float: left;}
.citynav-menu .py a{font-size: 14px;color: #329132;float: left;margin-left: 10px;}

.SWF_thumb { width:500px; height:auto; display:table; padding:5px;}
.SWF_thumb li { width:110px; height:110px; float:left; overflow:hidden;  background:#f7f7f7;  border-radius: 3px; border:1px solid #FFF; position:relative;}
.SWF_thumb li:hover { border:1px solid #9ab1cc;}
.SWF_thumb li span { width:110px; height:110px; display:block; background:#000; filter:progid:DXImageTransform.Microsoft.alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7; position:absolute; z-index:100px; font-size:22px;  font-weight:bold; color:#FFF; line-height:110px; text-align:center;}
.SWF_thumb li .pic_del { width:110px; height:20px; display:block; line-height:20px; background:#000; filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5; position:absolute; z-index:99px; color:#FFF; bottom:0; color:#FFF!important; text-align:center; }
.hide{display:none;}